# Import the Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
import os
import numpy as np

# Load Dataset

In [2]:
data=pd.read_csv('NIFTY50_all.csv')

In [3]:
data.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123.0,0.2741

In [4]:
data['Date'] = pd.to_datetime(data['Date'])

In [5]:
data['Returns'] = data['Close'] / data['Close'].shift(1) - 1

In [6]:
data['YearMonth'] = data['Date'].dt.to_period('M')

In [7]:
monthly_volatility = data.groupby('YearMonth')['Returns'].std()

In [8]:
for month in range(1, 13):
    month_name = pd.Timestamp(year=2000, month=month, day=1).strftime('%B')
    print(f"Volatility for {month_name}: {monthly_volatility[pd.Timestamp(year=2000, month=month, day=1).to_period('M')]}")

Volatility for January: 0.8977689492081633
Volatility for February: 0.04513421310138912
Volatility for March: 0.05802692704382143
Volatility for April: 0.04728742322904806
Volatility for May: 0.045401401619042006
Volatility for June: 0.030700171479876963
Volatility for July: 0.0482993656283617
Volatility for August: 0.030415661197128966
Volatility for September: 0.030985231898859367
Volatility for October: 0.03060700379165393
Volatility for November: 0.03375172520425308
Volatility for December: 0.03496061106572765

# Volatility (2000-2021)

In [9]:
for year in range(2000, 2022):
    for month in range(1, 13):
        month_name = pd.Timestamp(year=year, month=month, day=1).strftime('%B')
        year_month = pd.Timestamp(year=year, month=month, day=1).to_period('M')
        print(f"Volatility for {month_name} {year}: {monthly_volatility.get(year_month, 'N/A')}")

Volatility for January 2000: 0.8977689492081633
Volatility for February 2000: 0.04513421310138912
Volatility for March 2000: 0.05802692704382143
Volatility for April 2000: 0.04728742322904806
Volatility for May 2000: 0.045401401619042006
Volatility for June 2000: 0.030700171479876963
Volatility for July 2000: 0.0482993656283617
Volatility for August 2000: 0.030415661197128966
Volatility for September 2000: 0.030985231898859367
Volatility for October 2000: 0.03060700379165393
Volatility for November 2000: 0.03375172520425308
Volatility for December 2000: 0.03496061106572765
Volatility for January 2001: 0.02834262640131242
Volatility for February 2001: 0.031146629699661678
Volatility for March 2001: 0.055750055277824534
Volatility for April 2001: 0.04726189014622288
Volatility for May 2001: 0.02612789953293664
Volatility for June 2001: 0.027936067389464806
Volatility for July 2001: 0.042166690624466034
Volatility for August 2001: 0.023696782287454032
Volatility for September 2001: 0.044338399953617734
Volatility for October 2001: 0.03378340776049961
Volatility for November 2001: 0.029152671857196884
Volatility for December 2001: 0.029448222222873976
Volatility for January 2002: 0.02821749608890883
Volatility for February 2002: 0.055111760603345133
Volatility for March 2002: 0.026806717585252948
Volatility for April 2002: 0.026772153259087585
Volatility for May 2002: 0.02981315986554379
Volatility for June 2002: 0.02915761484463663
Volatility for July 2002: 0.025558251942487818
Volatility for August 2002: 0.01937807919177481
Volatility for September 2002: 0.022067238093612326
Volatility for October 2002: 0.02242424860065373
Volatility for November 2002: 0.01993305756658776
Volatility for December 2002: 0.027601400875720924
Volatility for January 2003: 0.02698360543297294
Volatility for February 2003: 0.017351376964464482
Volatility for March 2003: 0.01792970952965921
Volatility for April 2003: 0.026971355957663812
Volatility for May 2003: 0.0240917240140225
Volatility for June 2003: 0.023687148877659138
Volatility for July 2003: 0.03946972716247293
Volatility for August 2003: 0.03330302291857
Volatility for September 2003: 0.028470834110919874
Volatility for October 2003: 0.028766673650430136
Volatility for November 2003: 0.025937705246657797
Volatility for December 2003: 0.02717312983785784
Volatility for January 2004: 0.04681464391355925
Volatility for February 2004: 0.02901306858683882
Volatility for March 2004: 0.026781406933802918
Volatility for April 2004: 0.02401084032096642
Volatility for May 2004: 0.05981625624577183
Volatility for June 2004: 0.04064793101841395
Volatility for July 2004: 0.034454129690917885
Volatility for August 2004: 0.04068035960690894
Volatility for September 2004: 0.016819077796566963
Volatility for October 2004: 0.019731217004208778
Volatility for November 2004: 0.039630135741278896
Volatility for December 2004: 0.019546208268417367
Volatility for January 2005: 0.025737944361724236
Volatility for February 2005: 0.026890752381579393
Volatility for March 2005: 0.03731453604318986
Volatility for April 2005: 0.02069238103519333
Volatility for May 2005: 0.017450736332063285
Volatility for June 2005: 0.016434655869671265
Volatility for July 2005: 0.01979086010166755
Volatility for August 2005: 0.04322487847645081
Volatility for September 2005: 0.050075446093198916
Volatility for October 2005: 0.026810355908614615
Volatility for November 2005: 0.018819087763554364
Volatility for December 2005: 0.019312419592265675
Volatility for January 2006: 0.021403147470162687
Volatility for February 2006: 0.021646913293074065
Volatility for March 2006: 0.022038212242964123
Volatility for April 2006: 0.03484121661912447
Volatility for May 2006: 0.03553259420384605
Volatility for June 2006: 0.04359515612076832
Volatility for July 2006: 0.03636969419176993
Volatility for August 2006: 0.036748448117949806
Volatility for September 2006: 0.025629035882919912
Volatility for October 2006: 0.022662821654742312
Volatility for November 2006: 0.01978190422475699
Volatility for December 2006: 0.02523161552916217
Volatility for January 2007: 0.02240146749017488
Volatility for February 2007: 0.026817871893285692
Volatility for March 2007: 0.032030368049797225
Volatility for April 2007: 0.0249965109022357
Volatility for May 2007: 0.019710287043970025
Volatility for June 2007: 0.018151189986873328
Volatility for July 2007: 0.020334556168468673
Volatility for August 2007: 0.02486655502369652
Volatility for September 2007: 0.021228052987678436
Volatility for October 2007: 0.034037403902988164
Volatility for November 2007: 0.02772127911175314
Volatility for December 2007: 0.02614133968203964
Volatility for January 2008: 0.04330021063736597
Volatility for February 2008: 0.03204664900906198
Volatility for March 2008: 0.03889276511974095
Volatility for April 2008: 0.025530972271072074
Volatility for May 2008: 0.03923211571521944
Volatility for June 2008: 0.03047582719721922
Volatility for July 2008: 0.03854668113031836
Volatility for August 2008: 0.04055410981421861
Volatility for September 2008: 0.028861618180955288
Volatility for October 2008: 0.0678200279809829
Volatility for November 2008: 0.043549329224859955
Volatility for December 2008: 0.03510928972981552
Volatility for January 2009: 0.037635293928042005
Volatility for February 2009: 0.027149168782528318
Volatility for March 2009: 0.034400153317782664
Volatility for April 2009: 0.03721349571139837
Volatility for May 2009: 0.05066473435889667
Volatility for June 2009: 0.03695187053789371
Volatility for July 2009: 0.03488358902577831
Volatility for August 2009: 0.02670192273776573
Volatility for September 2009: 0.020995548627629413
Volatility for October 2009: 0.03035987871170744
Volatility for November 2009: 0.028414611847047813
Volatility for December 2009: 0.01748895568248525
Volatility for January 2010: 0.029353070218025662
Volatility for February 2010: 0.02042835848683063
Volatility for March 2010: 0.022801588173391334
Volatility for April 2010: 0.018340034985742305
Volatility for May 2010: 0.025570709405996477
Volatility for June 2010: 0.022889026487500793
Volatility for July 2010: 0.015265893197830982
Volatility for August 2010: 0.033578068752215126
Volatility for September 2010: 0.044573945575188255
Volatility for October 2010: 0.017512025066901995
Volatility for November 2010: 0.04043602672409526
Volatility for December 2010: 0.01929890837510732
Volatility for January 2011: 0.02070643703790456
Volatility for February 2011: 0.03357326962536876
Volatility for March 2011: 0.019661795842461055
Volatility for April 2011: 0.017215674083610733
Volatility for May 2011: 0.01919396304067829
Volatility for June 2011: 0.033160930917451543
Volatility for July 2011: 0.029556707309713146
Volatility for August 2011: 0.02266638459260127
Volatility for September 2011: 0.033123017825700686
Volatility for October 2011: 0.021920553473538825
Volatility for November 2011: 0.020826528659979204
Volatility for December 2011: 0.020882062829241835
Volatility for January 2012: 0.02168705311338695
Volatility for February 2012: 0.021573604592896263
Volatility for March 2012: 0.019818046536314138
Volatility for April 2012: 0.017615618237117013
Volatility for May 2012: 0.018949933695116893
Volatility for June 2012: 0.016941981416005433
Volatility for July 2012: 0.022030769094847545
Volatility for August 2012: 0.015341598190322929
Volatility for September 2012: 0.01729018848200904
Volatility for October 2012: 0.014579789010687358
Volatility for November 2012: 0.015284145318017452
Volatility for December 2012: 0.013560652380549052
Volatility for January 2013: 0.017082499774648326
Volatility for February 2013: 0.01603308314162236
Volatility for March 2013: 0.017700431842018867
Volatility for April 2013: 0.021304202946266677
Volatility for May 2013: 0.018780105089099625
Volatility for June 2013: 0.020136509037345995
Volatility for July 2013: 0.03836736319812384
Volatility for August 2013: 0.030468169698115236
Volatility for September 2013: 0.027208274226506582
Volatility for October 2013: 0.017993143844611533
Volatility for November 2013: 0.01723480450136262
Volatility for December 2013: 0.016161117994569964
Volatility for January 2014: 0.016347613111207363
Volatility for February 2014: 0.01645547833389959
Volatility for March 2014: 0.017996787895272596
Volatility for April 2014: 0.017719549277581546
Volatility for May 2014: 0.023846744198127066
Volatility for June 2014: 0.020387638099129482
Volatility for July 2014: 0.030104945805552095
Volatility for August 2014: 0.01755500141170971
Volatility for September 2014: 0.018261928623525582
Volatility for October 2014: 0.019642100306009325
Volatility for November 2014: 0.03433619368345174
Volatility for December 2014: 0.03359509142853759
Volatility for January 2015: 0.01944539800217735
Volatility for February 2015: 0.019569455194485934
Volatility for March 2015: 0.033680881469519135
Volatility for April 2015: 0.018858753935253204
Volatility for May 2015: 0.02091064700843922
Volatility for June 2015: 0.023382144769944914
Volatility for July 2015: 0.023194826384990548
Volatility for August 2015: 0.025176456024093154
Volatility for September 2015: 0.02119115074634245
Volatility for October 2015: 0.018067320335468106
Volatility for November 2015: 0.017026355992107462
Volatility for December 2015: 0.01500505629674833
Volatility for January 2016: 0.02092722893992194
Volatility for February 2016: 0.024581374594139702
Volatility for March 2016: 0.019968407342617744
Volatility for April 2016: 0.018232650264428236
Volatility for May 2016: 0.01881060999324504
Volatility for June 2016: 0.014957314194491108
Volatility for July 2016: 0.02533097405129578
Volatility for August 2016: 0.016715884061180162
Volatility for September 2016: 0.033126909769175844
Volatility for October 2016: 0.03483581147355032
Volatility for November 2016: 0.023626793966919815
Volatility for December 2016: 0.018375120465894026
Volatility for January 2017: 0.03251749956383896
Volatility for February 2017: 0.01631343106455905
Volatility for March 2017: 0.015578653267362071
Volatility for April 2017: 0.014900174526685064
Volatility for May 2017: 0.01726062763328312
Volatility for June 2017: 0.020970636139029917
Volatility for July 2017: 0.020807612120775268
Volatility for August 2017: 0.01725771957394569
Volatility for September 2017: 0.021742779836148807
Volatility for October 2017: 0.01835346616066614
Volatility for November 2017: 0.015302536803001091
Volatility for December 2017: 0.021427216261035317
Volatility for January 2018: 0.015363699620566973
Volatility for February 2018: 0.01692585948775274
Volatility for March 2018: 0.0244775143040944
Volatility for April 2018: 0.01650716803752427
Volatility for May 2018: 0.022919209037006297
Volatility for June 2018: 0.01542161047897943
Volatility for July 2018: 0.0181116675147904
Volatility for August 2018: 0.015279462996214292
Volatility for September 2018: 0.024708106476652225
Volatility for October 2018: 0.02813997022508803
Volatility for November 2018: 0.024524145152840637
Volatility for December 2018: 0.01788250269921791
Volatility for January 2019: 0.01870217588727545
Volatility for February 2019: 0.018938879608918834
Volatility for March 2019: 0.018780687023111146
Volatility for April 2019: 0.015990056000402483
Volatility for May 2019: 0.020777616802390785
Volatility for June 2019: 0.015417102152878469
Volatility for July 2019: 0.026414742177315955
Volatility for August 2019: 0.02150104804954313
Volatility for September 2019: 0.032013727197243616
Volatility for October 2019: 0.021717233343653667
Volatility for November 2019: 0.018506582719966767
Volatility for December 2019: 0.021171917042375837
Volatility for January 2020: 0.015846412522678217
Volatility for February 2020: 0.022167923929410065
Volatility for March 2020: 0.06079793111951285
Volatility for April 2020: 0.043260585382704365
Volatility for May 2020: 0.03198751029826347
Volatility for June 2020: 0.024513705215955653
Volatility for July 2020: 0.021742454542277502
Volatility for August 2020: 0.03440538927683815
Volatility for September 2020: 0.022607800757775093
Volatility for October 2020: 0.021534681303087524
Volatility for November 2020: 0.021171185566798735
Volatility for December 2020: 0.01915715717423377
Volatility for January 2021: 0.021490887600314996
Volatility for February 2021: 0.02629422620797442
Volatility for March 2021: 0.019518183388807942
Volatility for April 2021: 0.023546348319384916
Volatility for May 2021: N/A
Volatility for June 2021: N/A
Volatility for July 2021: N/A
Volatility for August 2021: N/A
Volatility for September 2021: N/A
Volatility for October 2021: N/A
Volatility for November 2021: N/A
Volatility for December 2021: N/A

In [20]:
#Threshold volitility t=v1+v2+v3....vn / number of months 

for year in range(2000, 2022):
    for month in range(1, 13):
        month_name = pd.Timestamp(year=year, month=month, day=1).strftime('%B')
        year_month = pd.Timestamp(year=year, month=month, day=1).to_period('M')
        volatility = {monthly_volatility.get(year_month, 'N/A')}

threshold_volatility = 0.04
result = []
volatilities = {monthly_volatility.get(year_month, 'N/A')}
        
for volatility in volatilities:
    # Check if the volatility is 'N/A'
    if volatility == 'N/A':
        result.append('N/A')
    else:
        # Convert the volatility to float and then compare
        if float(volatility) < threshold_volatility:
            result.append(0)
        else:
            result.append(1)
for i, value in enumerate(result, start=1):
    print(f"Volatility for Month {i}: {value}")

Volatility for Month 1: N/A

# Crash prediction using volatility

In [25]:
volatilities = [
    0.8977689492081633, 0.04513421310138912, 0.05802692704382143, 0.04728742322904806,
    0.045401401619042006, 0.030700171479876963, 0.0482993656283617, 0.030415661197128966,
    0.030985231898859367, 0.03060700379165393, 0.03375172520425308, 0.03496061106572765,
    0.02834262640131242, 0.031146629699661678, 0.055750055277824534, 0.04726189014622288,
    0.02612789953293664, 0.027936067389464806, 0.042166690624466034, 0.023696782287454032,
    0.044338399953617734, 0.03378340776049961, 0.029152671857196884, 0.029448222222873976,
    0.02821749608890883, 0.055111760603345133, 0.026806717585252948, 0.026772153259087585,
    0.02981315986554379, 0.02915761484463663, 0.025558251942487818, 0.01937807919177481,
    0.022067238093612326, 0.02242424860065373, 0.01993305756658776, 0.027601400875720924,
    0.02698360543297294, 0.017351376964464482, 0.01792970952965921, 0.026971355957663812,
    0.0240917240140225, 0.023687148877659138, 0.03946972716247293, 0.03330302291857,
    0.028470834110919874, 0.028766673650430136, 0.025937705246657797, 0.02717312983785784,
    0.04681464391355925, 0.02901306858683882, 0.026781406933802918, 0.02401084032096642,
    0.05981625624577183, 0.04064793101841395, 0.034454129690917885, 0.04068035960690894,
    0.016819077796566963, 0.019731217004208778, 0.039630135741278896, 0.019546208268417367,
    0.025737944361724236, 0.026890752381579393, 0.03731453604318986, 0.02069238103519333,
    0.017450736332063285, 0.016434655869671265, 0.01979086010166755, 0.04322487847645081,
    0.050075446093198916, 0.026810355908614615, 0.018819087763554364, 0.019312419592265675,
    0.021403147470162687, 0.021646913293074065, 0.022038212242964123, 0.03484121661912447,
    0.03553259420384605, 0.04359515612076832, 0.03636969419176993, 0.036748448117949806,
    0.025629035882919912, 0.022662821654742312, 0.01978190422475699, 0.02523161552916217,
    0.02240146749017488, 0.026817871893285692, 0.032030368049797225, 0.0249965109022357,
    0.019710287043970025, 0.018151189986873328, 0.020334556168468673, 0.02486655502369652,
    0.021228052987678436, 0.034037403902988164, 0.02772127911175314, 0.02614133968203964,
    0.04330021063736597, 0.03204664900906198, 0.03889276511974095, 0.025530972271072074,
    0.03923211571521944, 0.03047582719721922, 0.03854668113031836, 0.04055410981421861,
    0.028861618180955288, 0.0678200279809829, 0.043549329224859955, 0.03510928972981552,
    0.037635293928042005, 0.027149168782528318, 0.034400153317782664, 0.03721349571139837,
    0.05066473435889667, 0.03695187053789371, 0.03488358902577831, 0.02670192273776573,
    0.020995548627629413, 0.03035987871170744, 0.028414611847047813, 0.01748895568248525,
    0.029353070218025662, 0.02042835848683063, 0.022801588173391334, 0.018340034985742305,
    0.025570709405996477, 0.022889026487500793, 0.015265893197830982, 0.033578068752215126,
    0.044573945575188255, 0.017512025066901995, 0.04043602672409526, 0.01929890837510732,
    0.02070643703790456, 0.03357326962536876, 0.019661795842461055, 0.017215674083610733,
    0.01919396304067829, 0.033160930917451543, 0.029556707309713146, 0.02266638459260127,
    0.033123017825700686, 0.021920553473538825, 0.020826528659979204, 0.020882062829241835]
months = [
    "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
]
result = []


for i, volatility in enumerate(volatilities):
    # Check if the volatility is 'N/A'
    if volatility == 'N/A':
        result.append('N/A')
    else:
        # Convert the volatility to float and then compare
        if float(volatility) < threshold_volatility:
            result.append(0)
        else:
            result.append(1)

# Print the result for each month
for i, value in enumerate(result, start=1):
    year = 2000 + (i // 12)
    month = months[i % 12 - 1]
    print(f"Volatility for {month} {year}: {value}")

Volatility for January 2000: 1
Volatility for February 2000: 1
Volatility for March 2000: 1
Volatility for April 2000: 1
Volatility for May 2000: 1
Volatility for June 2000: 0
Volatility for July 2000: 1
Volatility for August 2000: 0
Volatility for September 2000: 0
Volatility for October 2000: 0
Volatility for November 2000: 0
Volatility for December 2001: 0
Volatility for January 2001: 0
Volatility for February 2001: 0
Volatility for March 2001: 1
Volatility for April 2001: 1
Volatility for May 2001: 0
Volatility for June 2001: 0
Volatility for July 2001: 1
Volatility for August 2001: 0
Volatility for September 2001: 1
Volatility for October 2001: 0
Volatility for November 2001: 0
Volatility for December 2002: 0
Volatility for January 2002: 0
Volatility for February 2002: 1
Volatility for March 2002: 0
Volatility for April 2002: 0
Volatility for May 2002: 0
Volatility for June 2002: 0
Volatility for July 2002: 0
Volatility for August 2002: 0
Volatility for September 2002: 0
Volatility for October 2002: 0
Volatility for November 2002: 0
Volatility for December 2003: 0
Volatility for January 2003: 0
Volatility for February 2003: 0
Volatility for March 2003: 0
Volatility for April 2003: 0
Volatility for May 2003: 0
Volatility for June 2003: 0
Volatility for July 2003: 0
Volatility for August 2003: 0
Volatility for September 2003: 0
Volatility for October 2003: 0
Volatility for November 2003: 0
Volatility for December 2004: 0
Volatility for January 2004: 1
Volatility for February 2004: 0
Volatility for March 2004: 0
Volatility for April 2004: 0
Volatility for May 2004: 1
Volatility for June 2004: 1
Volatility for July 2004: 0
Volatility for August 2004: 1
Volatility for September 2004: 0
Volatility for October 2004: 0
Volatility for November 2004: 0
Volatility for December 2005: 0
Volatility for January 2005: 0
Volatility for February 2005: 0
Volatility for March 2005: 0
Volatility for April 2005: 0
Volatility for May 2005: 0
Volatility for June 2005: 0
Volatility for July 2005: 0
Volatility for August 2005: 1
Volatility for September 2005: 1
Volatility for October 2005: 0
Volatility for November 2005: 0
Volatility for December 2006: 0
Volatility for January 2006: 0
Volatility for February 2006: 0
Volatility for March 2006: 0
Volatility for April 2006: 0
Volatility for May 2006: 0
Volatility for June 2006: 1
Volatility for July 2006: 0
Volatility for August 2006: 0
Volatility for September 2006: 0
Volatility for October 2006: 0
Volatility for November 2006: 0
Volatility for December 2007: 0
Volatility for January 2007: 0
Volatility for February 2007: 0
Volatility for March 2007: 0
Volatility for April 2007: 0
Volatility for May 2007: 0
Volatility for June 2007: 0
Volatility for July 2007: 0
Volatility for August 2007: 0
Volatility for September 2007: 0
Volatility for October 2007: 0
Volatility for November 2007: 0
Volatility for December 2008: 0
Volatility for January 2008: 1
Volatility for February 2008: 0
Volatility for March 2008: 0
Volatility for April 2008: 0
Volatility for May 2008: 0
Volatility for June 2008: 0
Volatility for July 2008: 0
Volatility for August 2008: 1
Volatility for September 2008: 0
Volatility for October 2008: 1
Volatility for November 2008: 1
Volatility for December 2009: 0
Volatility for January 2009: 0
Volatility for February 2009: 0
Volatility for March 2009: 0
Volatility for April 2009: 0
Volatility for May 2009: 1
Volatility for June 2009: 0
Volatility for July 2009: 0
Volatility for August 2009: 0
Volatility for September 2009: 0
Volatility for October 2009: 0
Volatility for November 2009: 0
Volatility for December 2010: 0
Volatility for January 2010: 0
Volatility for February 2010: 0
Volatility for March 2010: 0
Volatility for April 2010: 0
Volatility for May 2010: 0
Volatility for June 2010: 0
Volatility for July 2010: 0
Volatility for August 2010: 0
Volatility for September 2010: 1
Volatility for October 2010: 0
Volatility for November 2010: 1
Volatility for December 2011: 0
Volatility for January 2011: 0
Volatility for February 2011: 0
Volatility for March 2011: 0
Volatility for April 2011: 0
Volatility for May 2011: 0
Volatility for June 2011: 0
Volatility for July 2011: 0
Volatility for August 2011: 0
Volatility for September 2011: 0
Volatility for October 2011: 0
Volatility for November 2011: 0
Volatility for December 2012: 0

In [26]:
import csv

data = [
    "Volatility for January 2000: 1",
    "Volatility for February 2000: 1",
    "Volatility for March 2000: 1",
    "Volatility for April 2000: 1",
    "Volatility for May 2000: 1",
    "Volatility for June 2000: 0",
    "Volatility for July 2000: 1",
    "Volatility for August 2000: 0",
    "Volatility for September 2000: 0",
    "Volatility for October 2000: 0",
    "Volatility for November 2000: 0",
    "Volatility for December 2001: 0",
    "Volatility for January 2001: 0",
    "Volatility for February 2001: 0",
    "Volatility for March 2001: 1",
    "Volatility for April 2001: 1",
    "Volatility for May 2001: 0",
    "Volatility for June 2001: 0",
    "Volatility for July 2001: 1",
    "Volatility for August 2001: 0",
    "Volatility for September 2001: 1",
    "Volatility for October 2001: 0",
    "Volatility for November 2001: 0",
    "Volatility for December 2002: 0",
    "Volatility for January 2002: 0",
    "Volatility for February 2002: 1",
    "Volatility for March 2002: 0",
    "Volatility for April 2002: 0",
    "Volatility for May 2002: 0",
    "Volatility for June 2002: 0",
    "Volatility for July 2002: 0",
    "Volatility for August 2002: 0",
    "Volatility for September 2002: 0",
    "Volatility for October 2002: 0",
    "Volatility for November 2002: 0",
    "Volatility for December 2003: 0",
    "Volatility for January 2003: 0",
    "Volatility for February 2003: 0",
    "Volatility for March 2003: 0",
    "Volatility for April 2003: 0",
    "Volatility for May 2003: 0",
    "Volatility for June 2003: 0",
    "Volatility for July 2003: 0",
    "Volatility for August 2003: 0",
    "Volatility for September 2003: 0",
    "Volatility for October 2003: 0",
    "Volatility for November 2003: 0",
    "Volatility for December 2004: 0",
    "Volatility for January 2004: 1",
    "Volatility for February 2004: 0",
    "Volatility for March 2004: 0",
    "Volatility for April 2004: 0",
    "Volatility for May 2004: 1",
    "Volatility for June 2004: 1",
    "Volatility for July 2004: 0",
    "Volatility for August 2004: 1",
    "Volatility for September 2004: 0",
    "Volatility for October 2004: 0",
    "Volatility for November 2004: 0",
    "Volatility for December 2005: 0",
    "Volatility for January 2005: 0",
    "Volatility for February 2005: 0",
    "Volatility for March 2005: 0",
    "Volatility for April 2005: 0",
    "Volatility for May 2005: 0",
    "Volatility for June 2005: 0",
    "Volatility for July 2005: 0",
    "Volatility for August 2005: 1",
    "Volatility for September 2005: 1",
    "Volatility for October 2005: 0",
    "Volatility for November 2005: 0",
    "Volatility for December 2006: 0",
    "Volatility for January 2006: 0",
    "Volatility for February 2006: 0",
    "Volatility for March 2006: 0",
    "Volatility for April 2006: 0",
    "Volatility for May 2006: 0",
    "Volatility for June 2006: 1",
    "Volatility for July 2006: 0",
    "Volatility for August 2006: 0",
    "Volatility for September 2006: 0",
    "Volatility for October 2006: 0",
    "Volatility for November 2006: 0",
    "Volatility for December 2007: 0",
    "Volatility for January 2007: 0",
    "Volatility for February 2007: 0",
    "Volatility for March 2007: 0",
    "Volatility for April 2007: 0",
    "Volatility for May 2007: 0",
    "Volatility for June 2007: 0",
    "Volatility for July 2007: 0",
    "Volatility for August 2007: 0",
    "Volatility for September 2007: 0",
    "Volatility for October 2007: 0",
    "Volatility for November 2007: 0",
    "Volatility for December 2008: 0",
    "Volatility for January 2008: 1",
    "Volatility for February 2008: 0",
    "Volatility for March 2008: 0",
    "Volatility for April 2008: 0",
    "Volatility for May 2008: 0",
    "Volatility for June 2008: 0",
    "Volatility for July 2008: 0",
    "Volatility for August 2008: 1",
    "Volatility for September 2008: 0",
    "Volatility for October 2008: 1",
    "Volatility for November 2008: 1",
    "Volatility for December 2009: 0",
    "Volatility for January 2009: 0",
    "Volatility for February 2009: 0",
    "Volatility for March 2009: 0",
    "Volatility for April 2009: 0",
    "Volatility for May 2009: 1",
    "Volatility for June 2009: 0",
    "Volatility for July 2009: 0",
    "Volatility for August 2009: 0",
    "Volatility for September 2009: 0",
    "Volatility for October 2009: 0",
    "Volatility for November 2009: 0",
    "Volatility for December 2010: 0",
    "Volatility for January 2010: 0",
    "Volatility for February 2010: 0",
    "Volatility for March 2010: 0",
    "Volatility for April 2010: 0",
    "Volatility for May 2010: 0",
    "Volatility for June 2010: 0",
    "Volatility for July 2010: 0",
    "Volatility for August 2010: 0",
    "Volatility for September 2010: 1",
    "Volatility for October 2010: 0",
    "Volatility for November 2010: 1",
    "Volatility for December 2011: 0",
    "Volatility for January 2011: 0",
    "Volatility for February 2011: 0",
    "Volatility for March 2011: 0",
    "Volatility for April 2011: 0",
    "Volatility for May 2011: 0",
    "Volatility for June 2011: 0",
    "Volatility for July 2011: 0",
    "Volatility for August 2011: 0",
    "Volatility for September 2011: 0",
    "Volatility for October 2011: 0",
    "Volatility for November 2011: 0",
    "Volatility for December 2012: 0"
]

# File path
file_path = r'C:\Users\mural\Downloads\monthlyvolatility.csv'

# Save data to CSV file
with open(file_path, mode='w', newline='') as file:
    writer = csv.writer(file)
    for item in data:
        writer.writerow([item])

print("Data has been saved to:", file_path)

Data has been saved to: C:\Users\mural\Downloads\monthlyvolatility.csv

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
import os
import numpy as np

In [37]:
data=pd.read_csv('NIFTY50_all.csv')

In [38]:
data['Date'] = pd.to_datetime(data['Date'])

# Calculation of SMA/EMA

In [41]:
def calculate_rolling_averages(df, window):
    df['SMA'] = df['Close'].rolling(window=window).mean()
    df['EMA'] = df['Close'].ewm(span=window, adjust=False).mean()
    return df

# to calculate averages annually
window_size = 20  

# rolling averages calculation
annual_averages = (
    data.groupby(data['Date'].dt.year)
    .apply(calculate_rolling_averages, window=window_size)
    .reset_index(drop=True)
)


for year, group in annual_averages.groupby(annual_averages['Date'].dt.year):
    print(f"\nYear: {year}")
    print(group[['Date', 'Close', 'SMA', 'EMA']])

Year: 2000
           Date   Close       SMA         EMA
0    2000-01-03  381.65       NaN  381.650000
1    2000-01-04  385.55       NaN  382.021429
2    2000-01-05  383.00       NaN  382.114626
3    2000-01-06  377.50       NaN  381.675138
4    2000-01-07  385.70       NaN  382.058458
...         ...     ...       ...         ...
7699 2000-12-22  261.70  299.3200  297.510152
7700 2000-12-26  258.55  297.8475  293.799661
7701 2000-12-27  269.05  296.8875  291.442551
7702 2000-12-28  277.85  296.4500  290.148022
7703 2000-12-29  277.80  296.2450  288.972020

[7704 rows x 4 columns]

Year: 2001
            Date   Close       SMA         EMA
7704  2001-01-01  272.20       NaN  272.200000
7705  2001-01-02  273.70       NaN  272.342857
7706  2001-01-03  275.05       NaN  272.600680
7707  2001-01-04  275.15       NaN  272.843473
7708  2001-01-05  268.85       NaN  272.463142
...          ...     ...       ...         ...
15563 2001-12-24  105.30  129.4450  121.218000
15564 2001-12-26  101.15  128.4725  119.306762
15565 2001-12-27   98.05  126.7400  117.282308
15566 2001-12-28  104.80  124.9175  116.093517
15567 2001-12-31  111.60  124.0850  115.665563

[7864 rows x 4 columns]

Year: 2002
            Date   Close      SMA         EMA
15568 2002-01-01  265.60      NaN  265.600000
15569 2002-01-02  266.75      NaN  265.709524
15570 2002-01-03  273.30      NaN  266.432426
15571 2002-01-04  270.70      NaN  266.838862
15572 2002-01-07  267.75      NaN  266.925637
...          ...     ...      ...         ...
24312 2002-12-24   98.35  99.3925   98.637115
24313 2002-12-26   98.30  99.6350   98.605008
24314 2002-12-27   97.45  99.7025   98.495008
24315 2002-12-30   96.65  99.6450   98.319293
24316 2002-12-31   97.55  99.5775   98.246027

[8749 rows x 4 columns]

Year: 2003
            Date   Close       SMA         EMA
24317 2003-01-01  325.15       NaN  325.150000
24318 2003-01-02  327.05       NaN  325.330952
24319 2003-01-03  327.60       NaN  325.547052
24320 2003-01-06  329.15       NaN  325.890190
24321 2003-01-07  330.95       NaN  326.372077
...          ...     ...       ...         ...
33326 2003-12-24  152.95  140.6700  143.509013
33327 2003-12-26  154.95  141.8150  144.598631
33328 2003-12-29  154.15  143.0300  145.508285
33329 2003-12-30  153.50  144.0900  146.269401
33330 2003-12-31  150.00  144.9575  146.624696

[9014 rows x 4 columns]

Year: 2004
            Date   Close       SMA         EMA
33331 2004-01-01  336.15       NaN  336.150000
33332 2004-01-02  335.10       NaN  336.050000
33333 2004-01-05  340.45       NaN  336.469048
33334 2004-01-06  328.25       NaN  335.686281
33335 2004-01-07  328.95       NaN  335.044731
...          ...     ...       ...         ...
43063 2004-12-27  171.40  165.2175  167.332093
43064 2004-12-28  172.75  166.2500  167.848084
43065 2004-12-29  172.55  167.3825  168.295885
43066 2004-12-30  171.50  168.0700  168.601039
43067 2004-12-31  171.55  169.1225  168.881893

[9737 rows x 4 columns]

Year: 2005
            Date   Close       SMA         EMA
43068 2005-01-03  319.10       NaN  319.100000
43069 2005-01-04  324.05       NaN  319.571429
43070 2005-01-05  321.85       NaN  319.788435
43071 2005-01-06  309.45       NaN  318.803822
43072 2005-01-07  320.05       NaN  318.922506
...          ...     ...       ...         ...
53550 2005-12-26  152.00  160.8100  159.552589
53551 2005-12-27  152.95  160.7450  158.923771
53552 2005-12-28  150.90  160.5675  158.159602
53553 2005-12-29  153.15  159.9775  157.682497
53554 2005-12-30  156.80  159.6775  157.598450

[10487 rows x 4 columns]

Year: 2006
            Date   Close       SMA         EMA
53555 2006-01-02  589.95       NaN  589.950000
53556 2006-01-03  594.35       NaN  590.369048
53557 2006-01-04  590.45       NaN  590.376757
53558 2006-01-05  590.00       NaN  590.340876
53559 2006-01-06  590.60       NaN  590.365554
...          ...     ...       ...         ...
64137 2006-12-22  276.65  332.4800  315.812503
64138 2006-12-26  290.95  328.9650  313.444645
64139 2006-12-27  283.55  324.9850  310.597536
64140 2006-12-28  292.60  321.3825  308.883485
64141 2006-12-29  293.55  317.3975  307.423153

[10587 rows x 4 columns]

Year: 2007
            Date   Close       SMA         EMA
64142 2007-11-27  962.90       NaN  962.900000
64143 2007-11-28  893.90       NaN  956.328571
64144 2007-11-29  884.20       NaN  949.459184
64145 2007-11-30  921.55       NaN  946.801166
64146 2007-12-03  969.30       NaN  948.943912
...          ...     ...       ...         ...
74927 2007-12-24  306.95  302.5150  305.592429
74928 2007-12-26  321.15  303.6075  307.074103
74929 2007-12-27  316.60  304.4575  307.981331
74930 2007-12-28  313.90  305.5150  308.545014
74931 2007-12-31  327.05  307.8050  310.307393

[10790 rows x 4 columns]

Year: 2008
            Date    Close       SMA          EMA
74932 2008-01-01  1296.85       NaN  1296.850000
74933 2008-01-02  1307.45       NaN  1297.859524
74934 2008-01-03  1275.80       NaN  1295.758617
74935 2008-01-04  1240.35       NaN  1290.481606
74936 2008-01-07  1227.25       NaN  1284.459548
...          ...      ...       ...          ...
86295 2008-12-24   134.80  126.0500   130.790859
86296 2008-12-26   138.25  126.8475   131.501254
86297 2008-12-29   138.40  128.0550   132.158277
86298 2008-12-30   141.55  129.6825   133.052727
86299 2008-12-31   139.85  131.2075   133.700086

[11368 rows x 4 columns]

Year: 2009
            Date   Close       SMA         EMA
86300 2009-01-01  333.80       NaN  333.800000
86301 2009-01-02  331.25       NaN  333.557143
86302 2009-01-05  390.40       NaN  338.970748
86303 2009-01-06  395.20       NaN  344.325915
86304 2009-01-07  352.05       NaN  345.061542
...          ...     ...       ...         ...
97713 2009-12-23  264.35  259.2450  258.754277
97714 2009-12-24  265.15  259.0175  259.363393
97715 2009-12-29  265.65  259.3375  259.962118
97716 2009-12-30  260.35  259.6425  259.999059
97717 2009-12-31  257.10  259.3375  259.722958

[11418 rows x 4 columns]

Year: 2010
             Date   Close       SMA         EMA
97718  2010-01-04  556.75       NaN  556.750000
97719  2010-01-05  575.95       NaN  558.578571
97720  2010-01-06  604.50       NaN  562.952041
97721  2010-01-07  597.35       NaN  566.228037
97722  2010-01-08  596.65       NaN  569.125367
...           ...     ...       ...         ...
109845 2010-12-27  136.35  144.4000  149.467078
109846 2010-12-28  139.60  144.3525  148.527356
109847 2010-12-29  142.95  144.3050  147.996179
109848 2010-12-30  144.60  144.2700  147.672734
109849 2010-12-31  147.25  144.1375  147.632473

[12132 rows x 4 columns]

Year: 2011
             Date   Close       SMA         EMA
109850 2011-01-03  145.05       NaN  145.050000
109851 2011-01-04  148.55       NaN  145.383333
109852 2011-01-05  157.60       NaN  146.546825
109853 2011-01-06  154.95       NaN  147.347128
109854 2011-01-07  147.25       NaN  147.337877
...           ...     ...       ...         ...
121948 2011-12-26  117.60  122.2225  119.999678
121949 2011-12-27  117.60  122.0350  119.771138
121950 2011-12-28  116.90  121.6500  119.497696
121951 2011-12-29  117.85  121.3075  119.340772
121952 2011-12-30  117.85  120.8900  119.198794

[12103 rows x 4 columns]

Year: 2012
             Date   Close       SMA         EMA
121953 2012-01-02  114.70       NaN  114.700000
121954 2012-01-03  120.30       NaN  115.233333
121955 2012-01-04  122.85       NaN  115.958730
121956 2012-01-05  126.70       NaN  116.981708
121957 2012-01-06  127.70       NaN  118.002498
...           ...     ...       ...         ...
134247 2012-12-24  229.85  209.9325  211.285795
134248 2012-12-26  226.15  211.1325  212.701434
134249 2012-12-27  220.05  212.1175  213.401297
134250 2012-12-28  219.85  212.9775  214.015459
134251 2012-12-31  220.70  214.2525  214.652082

[12299 rows x 4 columns]

Year: 2013
             Date   Close       SMA         EMA
134252 2013-01-01  137.80       NaN  137.800000
134253 2013-01-02  138.45       NaN  137.861905
134254 2013-01-03  138.30       NaN  137.903628
134255 2013-01-04  137.50       NaN  137.865187
134256 2013-01-07  140.05       NaN  138.073265
...           ...     ...       ...         ...
146497 2013-12-24  279.35  274.1850  276.072200
146498 2013-12-26  281.50  275.6450  276.589133
146499 2013-12-27  279.70  276.8375  276.885406
146500 2013-12-30  279.95  277.8750  277.177273
146501 2013-12-31  276.60  278.2300  277.122294

[12250 rows x 4 columns]

Year: 2014
             Date   Close       SMA         EMA
146502 2014-01-01  156.30       NaN  156.300000
146503 2014-01-02  152.65       NaN  155.952381
146504 2014-01-03  149.90       NaN  155.375964
146505 2014-01-06  150.85       NaN  154.944920
146506 2014-01-07  145.95       NaN  154.088261
...           ...     ...       ...         ...
158453 2014-12-24  380.55  374.0200  373.599025
158454 2014-12-26  376.90  374.2550  373.913404
158455 2014-12-29  379.50  374.1325  374.445460
158456 2014-12-30  378.60  374.1975  374.841131
158457 2014-12-31  380.75  374.1450  375.403880

[11956 rows x 4 columns]

Year: 2015
             Date   Close       SMA         EMA
158458 2015-01-01  319.55       NaN  319.550000
158459 2015-01-02  319.35       NaN  319.530952
158460 2015-01-05  323.80       NaN  319.937528
158461 2015-01-06  321.85       NaN  320.119669
158462 2015-01-07  321.10       NaN  320.213033
...           ...     ...       ...         ...
170605 2015-12-24  410.75  408.2275  408.575724
170606 2015-12-28  411.55  408.1850  408.858989
170607 2015-12-29  416.35  408.5950  409.572418
170608 2015-12-30  428.20  409.2825  411.346474
170609 2015-12-31  437.25  410.4600  413.813476

[12152 rows x 4 columns]

Year: 2016
             Date   Close       SMA         EMA
170610 2016-01-01  267.55       NaN  267.550000
170611 2016-01-04  257.95       NaN  266.635714
170612 2016-01-05  255.70       NaN  265.594218
170613 2016-01-06  251.80       NaN  264.280483
170614 2016-01-07  245.00       NaN  262.444246
...           ...     ...       ...         ...
182708 2016-12-26  431.80  446.0575  447.403939
182709 2016-12-27  436.30  445.0025  446.346421
182710 2016-12-28  443.10  444.3750  446.037238
182711 2016-12-29  447.60  443.8750  446.186072
182712 2016-12-30  453.05  444.3725  446.839780

[12103 rows x 4 columns]

Year: 2017
             Date   Close       SMA         EMA
182713 2017-01-02  273.80       NaN  273.800000
182714 2017-01-03  273.95       NaN  273.814286
182715 2017-01-04  274.90       NaN  273.917687
182716 2017-01-05  287.50       NaN  275.211241
182717 2017-01-06  286.05       NaN  276.243503
...           ...     ...       ...         ...
194860 2017-12-22  574.55  571.5225  568.371520
194861 2017-12-26  581.90  571.8550  569.659947
194862 2017-12-27  587.35  571.8900  571.344714
194863 2017-12-28  585.85  572.3150  572.726170
194864 2017-12-29  581.80  572.9975  573.590344

[12152 rows x 4 columns]

Year: 2018
             Date   Close       SMA         EMA
194865 2018-01-01  399.65       NaN  399.650000
194866 2018-01-02  397.40       NaN  399.435714
194867 2018-01-03  407.65       NaN  400.218027
194868 2018-01-04  409.85       NaN  401.135358
194869 2018-01-05  423.80       NaN  403.293895
...           ...     ...       ...         ...
206914 2018-12-24  436.75  473.8600  466.411035
206915 2018-12-26  455.05  473.6475  465.329031
206916 2018-12-27  464.40  472.9950  465.240552
206917 2018-12-28  474.45  472.6100  466.117643
206918 2018-12-31  476.45  472.0025  467.101677

[12054 rows x 4 columns]

Year: 2019
             Date   Close       SMA         EMA
206919 2019-01-01  389.00       NaN  389.000000
206920 2019-01-02  381.30       NaN  388.266667
206921 2019-01-03  378.10       NaN  387.298413
206922 2019-01-04  382.15       NaN  386.808088
206923 2019-01-07  381.65       NaN  386.316841
...           ...     ...       ...         ...
218919 2019-12-24  297.25  288.0625  288.385377
218920 2019-12-26  297.30  286.9525  289.234389
218921 2019-12-27  299.00  286.3525  290.164447
218922 2019-12-30  302.80  286.8400  291.367833
218923 2019-12-31  292.20  286.8100  291.447087

[12005 rows x 4 columns]

Year: 2020
             Date   Close       SMA         EMA
218924 2020-01-01  377.65       NaN  377.650000
218925 2020-01-02  383.15       NaN  378.173810
218926 2020-01-03  382.50       NaN  378.585828
218927 2020-01-06  380.20       NaN  378.739558
218928 2020-01-07  384.80       NaN  379.316743
...           ...     ...       ...         ...
231267 2020-12-24  217.30  212.4300  212.701255
231268 2020-12-28  220.15  213.9500  213.410659
231269 2020-12-29  218.15  215.2200  213.862025
231270 2020-12-30  219.15  216.3950  214.365641
231271 2020-12-31  223.50  217.6825  215.235580

[12348 rows x 4 columns]

Year: 2021
             Date   Close       SMA         EMA
231272 2021-01-01  503.85       NaN  503.850000
231273 2021-01-04  498.90       NaN  503.378571
231274 2021-01-05  499.45       NaN  503.004422
231275 2021-01-06  496.80       NaN  502.413524
231276 2021-01-07  513.85       NaN  503.502713
...           ...     ...       ...         ...
235187 2021-04-26  186.40  196.5925  196.734040
235188 2021-04-27  188.15  195.7400  195.916512
235189 2021-04-28  189.10  195.3900  195.267320
235190 2021-04-29  186.55  194.7200  194.437099
235191 2021-04-30  185.60  193.9525  193.595471

[3920 rows x 4 columns]

In [42]:
def calculate_rolling_averages(df, window):
    df['SMA'] = df['Close'].rolling(window=window).mean()
    df['EMA'] = df['Close'].ewm(span=window, adjust=False).mean()
    return df

# Set the window size for rolling averages
window_size = 20  

# Calculate rolling averages monthly
monthly_averages = (
    data.groupby([data['Date'].dt.year, data['Date'].dt.month])
    .apply(calculate_rolling_averages, window=window_size)
    .reset_index(drop=True)
)

for (year, month), group in monthly_averages.groupby([monthly_averages['Date'].dt.year, monthly_averages['Date'].dt.month]):
    print(f"\nYear: {year}, Month: {month}")
    print(group[['Date', 'Close', 'SMA', 'EMA']])

Year: 2000, Month: 1
          Date    Close        SMA          EMA
0   2000-01-03   381.65        NaN   381.650000
1   2000-01-04   385.55        NaN   382.021429
2   2000-01-05   383.00        NaN   382.114626
3   2000-01-06   377.50        NaN   381.675138
4   2000-01-07   385.70        NaN   382.058458
..         ...      ...        ...          ...
669 2000-01-24  1223.15  1632.5600  1434.781194
670 2000-01-25  1209.00  1518.6475  1413.278223
671 2000-01-27  1221.10  1391.3900  1394.975535
672 2000-01-28  1286.90  1252.3575  1384.682627
673 2000-01-31  1213.10  1122.7625  1368.341425

[674 rows x 4 columns]

Year: 2000, Month: 2
           Date    Close        SMA          EMA
674  2000-02-01   460.30        NaN   460.300000
675  2000-02-02   460.10        NaN   460.280952
676  2000-02-03   456.10        NaN   459.882766
677  2000-02-04   456.70        NaN   459.579646
678  2000-02-07   453.65        NaN   459.014918
...         ...      ...        ...          ...
1383 2000-02-23  1476.55  2182.3500  2286.466864
1384 2000-02-24  1541.70  1916.0125  2215.536687
1385 2000-02-25  1452.85  1638.9325  2142.899859
1386 2000-02-28  1404.20  1378.3050  2072.547492
1387 2000-02-29  1310.75  1382.5100  1999.995350

[714 rows x 4 columns]

Year: 2000, Month: 3
           Date    Close        SMA          EMA
1388 2000-03-01   399.70        NaN   399.700000
1389 2000-03-02   390.00        NaN   398.776190
1390 2000-03-03   404.80        NaN   399.349887
1391 2000-03-06   398.05        NaN   399.226088
1392 2000-03-07   376.55        NaN   397.066460
...         ...      ...        ...          ...
2064 2000-03-27  1101.50  1993.1325  1896.136904
2065 2000-03-28  1039.70  1714.7600  1814.571484
2066 2000-03-29  1054.00  1463.5300  1742.136105
2067 2000-03-30  1040.00  1235.9125  1675.266000
2068 2000-03-31  1033.20  1217.4050  1614.116857

[681 rows x 4 columns]

Year: 2000, Month: 4
           Date   Close        SMA          EMA
2069 2000-04-03  413.60        NaN   413.600000
2070 2000-04-04  413.10        NaN   413.552381
2071 2000-04-05  411.20        NaN   413.328345
2072 2000-04-06  409.55        NaN   412.968502
2073 2000-04-07  415.40        NaN   413.200074
...         ...     ...        ...          ...
2604 2000-04-24  662.90  1770.4800  1532.783570
2605 2000-04-25  711.75  1601.2700  1454.589897
2606 2000-04-26  768.70  1435.3075  1389.267050
2607 2000-04-27  717.15  1283.1175  1325.255902
2608 2000-04-28  719.80  1119.3400  1267.593435

[540 rows x 4 columns]

Year: 2000, Month: 5
           Date   Close       SMA         EMA
2609 2000-05-02  407.20       NaN  407.200000
2610 2000-05-03  388.85       NaN  405.452381
2611 2000-05-04  391.40       NaN  404.114059
2612 2000-05-05  394.95       NaN  403.241291
2613 2000-05-08  393.10       NaN  402.275454
...         ...     ...       ...         ...
3264 2000-05-25  433.00  672.4325  723.051613
3265 2000-05-26  410.55  606.8525  693.289555
3266 2000-05-29  441.35  535.5275  669.295311
3267 2000-05-30  489.30  528.3200  652.152901
3268 2000-05-31  521.85  524.4650  639.743101

[660 rows x 4 columns]

Year: 2000, Month: 6
           Date   Close       SMA         EMA
3269 2000-06-01  426.25       NaN  426.250000
3270 2000-06-02  422.35       NaN  425.878571
3271 2000-06-05  418.55       NaN  425.180612
3272 2000-06-06  419.90       NaN  424.677697
3273 2000-06-07  416.60       NaN  423.908392
...         ...     ...       ...         ...
3924 2000-06-26  489.30  777.9175  836.718519
3925 2000-06-27  465.95  657.4250  801.407232
3926 2000-06-28  459.00  533.8325  768.797019
3927 2000-06-29  455.40  531.4625  738.949684
3928 2000-06-30  433.25  525.6025  709.835428

[660 rows x 4 columns]

Year: 2000, Month: 7
           Date   Close       SMA         EMA
3929 2000-07-03  403.45       NaN  403.450000
3930 2000-07-04  400.50       NaN  403.169048
3931 2000-07-05  399.50       NaN  402.819615
3932 2000-07-06  400.30       NaN  402.579651
3933 2000-07-07  400.30       NaN  402.362542
...         ...     ...       ...         ...
4554 2000-07-25  437.15  771.7375  811.859329
4555 2000-07-26  412.80  666.7725  773.853678
4556 2000-07-27  446.60  566.5950  742.686661
4557 2000-07-28  451.75  468.6175  714.978408
4558 2000-07-31  433.15  467.3300  688.137607

[630 rows x 4 columns]

Year: 2000, Month: 8
           Date   Close       SMA         EMA
4559 2000-08-01  464.00       NaN  464.000000
4560 2000-08-02  272.10       NaN  445.723810
4561 2000-08-03  263.40       NaN  428.359637
4562 2000-08-04  272.10       NaN  413.477767
4563 2000-08-07  270.10       NaN  399.822742
...         ...     ...       ...         ...
5214 2000-08-25  493.20  711.3125  790.196533
5215 2000-08-28  483.80  571.9100  761.015910
5216 2000-08-29  496.35  433.6550  735.809633
5217 2000-08-30  517.60  438.1700  715.027763
5218 2000-08-31  522.95  442.3775  696.734643

[660 rows x 4 columns]

Year: 2000, Month: 9
           Date   Close       SMA         EMA
5219 2000-09-04  259.15       NaN  259.150000
5220 2000-09-05  257.05       NaN  258.950000
5221 2000-09-06  258.90       NaN  258.945238
5222 2000-09-07  258.60       NaN  258.912358
5223 2000-09-08  256.65       NaN  258.696896
...         ...     ...       ...         ...
5812 2000-09-25  438.75  940.2600  880.705884
5813 2000-09-26  421.45  826.5525  836.967228
5814 2000-09-27  429.40  711.9650  798.151302
5815 2000-09-28  443.95  601.6425  764.417844
5816 2000-09-29  448.20  491.2300  734.301859

[598 rows x 4 columns]

Year: 2000, Month: 10
           Date   Close       SMA         EMA
5817 2000-10-03  220.80       NaN  220.800000
5818 2000-10-04  224.75       NaN  221.176190
5819 2000-10-05  223.15       NaN  221.364172
5820 2000-10-06  210.75       NaN  220.353299
5821 2000-10-09  213.15       NaN  219.667270
...         ...     ...       ...         ...
6439 2000-10-25  310.95  660.5350  648.228949
6440 2000-10-26  306.95  560.2125  615.726192
6441 2000-10-27  307.45  463.5500  586.366555
6442 2000-10-30  285.05  360.3775  557.669740
6443 2000-10-31  287.05  352.4600  531.896432

[627 rows x 4 columns]

Year: 2000, Month: 11
           Date   Close       SMA         EMA
6444 2000-11-01  244.10       NaN  244.100000
6445 2000-11-02  243.55       NaN  244.047619
6446 2000-11-03  243.90       NaN  244.033560
6447 2000-11-06  239.55       NaN  243.606554
6448 2000-11-07  236.75       NaN  242.953549
...         ...     ...       ...         ...
7099 2000-11-24  283.30  523.6825  605.017768
7100 2000-11-27  288.00  407.4325  574.825599
7101 2000-11-28  288.25  292.9650  547.532685
7102 2000-11-29  286.60  292.0625  522.681953
7103 2000-11-30  281.90  290.6600  499.750339

[660 rows x 4 columns]

Year: 2000, Month: 12
           Date   Close       SMA         EMA
7104 2000-12-01  248.80       NaN  248.800000
7105 2000-12-04  249.65       NaN  248.880952
7106 2000-12-05  254.25       NaN  249.392290
7107 2000-12-06  252.55       NaN  249.693025
7108 2000-12-07  251.95       NaN  249.907975
...         ...     ...       ...         ...
7699 2000-12-22  261.70  698.3125  688.569211
7700 2000-12-26  258.55  602.1900  647.615001
7701 2000-12-27  269.05  503.2775  611.561191
7702 2000-12-28  277.85  402.3175  579.779173
7703 2000-12-29  277.80  296.2450  551.019252

[600 rows x 4 columns]

Year: 2001, Month: 1
           Date   Close       SMA         EMA
7704 2001-01-01  272.20       NaN  272.200000
7705 2001-01-02  273.70       NaN  272.342857
7706 2001-01-03  275.05       NaN  272.600680
7707 2001-01-04  275.15       NaN  272.843473
7708 2001-01-05  268.85       NaN  272.463142
...         ...     ...       ...         ...
8359 2001-01-24  278.15  510.8150  616.149614
8360 2001-01-25  276.35  383.1775  583.787746
8361 2001-01-29  266.00  256.9625  553.522246
8362 2001-01-30  270.75  257.2600  526.591556
8363 2001-01-31  263.60  257.0325  501.544741

[660 rows x 4 columns]

Year: 2001, Month: 2
           Date   Close       SMA         EMA
8364 2001-02-01  260.30       NaN  260.300000
8365 2001-02-02  262.30       NaN  260.490476
8366 2001-02-05  262.15       NaN  260.648526
8367 2001-02-06  272.10       NaN  261.739143
8368 2001-02-07  271.70       NaN  262.687796
...         ...     ...       ...         ...
8959 2001-02-22  233.50  688.3250  662.197059
8960 2001-02-23  214.05  572.4650  619.516387
8961 2001-02-26  192.30  456.0025  578.829112
8962 2001-02-27  163.55  347.1700  539.278720
8963 2001-02-28  169.70  228.5350  504.080747

[600 rows x 4 columns]

Year: 2001, Month: 3
           Date   Close       SMA         EMA
8964 2001-03-01  267.60       NaN  267.600000
8965 2001-03-02  268.25       NaN  267.661905
8966 2001-03-05  265.90       NaN  267.494104
8967 2001-03-07  264.10       NaN  267.170856
8968 2001-03-08  263.65       NaN  266.835537
...         ...     ...       ...         ...
9589 2001-03-26  131.00  325.3475  361.172228
9590 2001-03-27  131.90  257.1850  339.336778
9591 2001-03-28  136.70  192.9450  320.038037
9592 2001-03-29  135.05  132.7775  302.420129
9593 2001-03-30  120.90  130.7725  285.132498

[630 rows x 4 columns]

Year: 2001, Month: 4
            Date   Close       SMA         EMA
9594  2001-04-02  242.50       NaN  242.500000
9595  2001-04-03  244.35       NaN  242.676190
9596  2001-04-04  243.90       NaN  242.792744
9597  2001-04-06  245.90       NaN  243.088673
9598  2001-04-09  250.00       NaN  243.746895
...          ...     ...       ...         ...
10159 2001-04-24  107.70  436.2975  328.272336
10160 2001-04-25  110.50  367.3475  307.532114
10161 2001-04-26  102.80  298.5025  288.033817
10162 2001-04-27   86.55  230.6475  268.844882
10163 2001-04-30   98.50  173.2500  252.621560

[570 rows x 4 columns]

Year: 2001, Month: 5
            Date   Close       SMA         EMA
10164 2001-05-02  265.00       NaN  265.000000
10165 2001-05-03  261.95       NaN  264.709524
10166 2001-05-04  261.75       NaN  264.427664
10167 2001-05-07  263.00       NaN  264.291696
10168 2001-05-08  274.85       NaN  265.297249
...          ...     ...       ...         ...
10819 2001-05-25  138.55  272.9825  354.356696
10820 2001-05-28  147.00  193.5700  334.608439
10821 2001-05-29  147.05  117.2475  316.745730
10822 2001-05-30  130.55  118.9475  299.012804
10823 2001-05-31  132.95  121.0225  283.197299

[660 rows x 4 columns]

Year: 2001, Month: 6
            Date   Close       SMA         EMA
10824 2001-06-01  253.60       NaN  253.600000
10825 2001-06-04  253.25       NaN  253.566667
10826 2001-06-05  249.35       NaN  253.165079
10827 2001-06-06  251.65       NaN  253.020786
10828 2001-06-07  245.80       NaN  252.333092
...          ...     ...       ...         ...
11448 2001-06-25  101.05  308.8275  332.737258
11449 2001-06-26  116.10  244.9825  312.105138
11450 2001-06-27  112.60  181.5675  293.104649
11451 2001-06-28  114.15  116.9850  276.061349
11452 2001-06-29  116.85  116.3150  260.898363

[629 rows x 4 columns]

Year: 2001, Month: 7
            Date   Close       SMA         EMA
11453 2001-07-02  245.85       NaN  245.850000
11454 2001-07-03  249.65       NaN  246.211905
11455 2001-07-04  249.90       NaN  246.563152
11456 2001-07-05  246.65       NaN  246.571423
11457 2001-07-06  245.25       NaN  246.445573
...          ...     ...       ...         ...
12175 2001-07-25   77.55  229.9425  278.535516
12176 2001-07-26   74.30  165.7100  259.084514
12177 2001-07-27   74.30   97.2600  241.485989
12178 2001-07-30   70.45   94.8125  225.196847
12179 2001-07-31   84.75   93.3850  211.820957

[727 rows x 4 columns]

Year: 2001, Month: 8
            Date   Close       SMA         EMA
12180 2001-08-01  255.00       NaN  255.000000
12181 2001-08-02  259.95       NaN  255.471429
12182 2001-08-03  262.45       NaN  256.136054
12183 2001-08-06  258.25       NaN  256.337383
12184 2001-08-07  259.60       NaN  256.648108
...          ...     ...       ...         ...
12875 2001-08-27  117.45  313.5975  323.755991
12876 2001-08-28  116.80  243.2125  304.045897
12877 2001-08-29  116.75  171.8925  286.208192
12878 2001-08-30  121.00  102.9925  270.474079
12879 2001-08-31  116.80  103.8800  255.838452

[700 rows x 4 columns]

Year: 2001, Month: 9
            Date   Close       SMA         EMA
12880 2001-09-03  264.25       NaN  264.250000
12881 2001-09-04  268.40       NaN  264.645238
12882 2001-09-05  263.30       NaN  264.517120
12883 2001-09-06  266.75       NaN  264.729775
12884 2001-09-07  264.35       NaN  264.693606
...          ...     ...       ...         ...
13540 2001-09-24   92.20  292.6600  276.482882
13541 2001-09-25   89.65  244.2675  258.689274
13542 2001-09-26   93.00  191.6175  242.909343
13543 2001-09-27   90.55  145.3900  228.398930
13544 2001-09-28   86.75   97.6975  214.908556

[665 rows x 4 columns]

Year: 2001, Month: 10
            Date   Close       SMA         EMA
13545 2001-10-01  264.90       NaN  264.900000
13546 2001-10-03  264.00       NaN  264.814286
13547 2001-10-04  265.00       NaN  264.831973
13548 2001-10-05  264.30       NaN  264.781309
13549 2001-10-08  261.95       NaN  264.511660
...          ...     ...       ...         ...
14246 2001-10-24   89.55  232.5250  241.812681
14247 2001-10-25   95.20  180.6375  227.849568
14248 2001-10-29   96.85  133.5525  215.373419
14249 2001-10-30   91.25   84.5375  203.552141
14250 2001-10-31   94.00   84.9025  193.118604

[706 rows x 4 columns]

Year: 2001, Month: 11
            Date   Close       SMA         EMA
14251 2001-11-01  270.05       NaN  270.050000
14252 2001-11-02  272.05       NaN  270.240476
14253 2001-11-05  270.45       NaN  270.260431
14254 2001-11-06  270.60       NaN  270.292771
14255 2001-11-07  270.50       NaN  270.312507
...          ...     ...       ...         ...
14919 2001-11-23  120.60  379.6375  318.170000
14920 2001-11-26  132.70  313.1275  300.506190
14921 2001-11-27  141.25  243.5025  285.338934
14922 2001-11-28  128.25  176.7300  270.378083
14923 2001-11-29  128.65  111.0450  256.880170

[673 rows x 4 columns]

Year: 2001, Month: 12
            Date   Close       SMA         EMA
14924 2001-12-03  271.65       NaN  271.650000
14925 2001-12-04  275.15       NaN  271.983333
14926 2001-12-05  275.95       NaN  272.361111
14927 2001-12-06  276.00       NaN  272.707672
14928 2001-12-07  275.10       NaN  272.935513
...          ...     ...       ...         ...
15563 2001-12-24  105.30  498.6250  407.357715
15564 2001-12-26  101.15  418.2325  378.195076
15565 2001-12-27   98.05  339.5825  351.514592
15566 2001-12-28  104.80  271.8425  328.017964
15567 2001-12-31  111.60  198.1750  307.406730

[644 rows x 4 columns]

Year: 2002, Month: 1
            Date   Close       SMA         EMA
15568 2002-01-01  265.60       NaN  265.600000
15569 2002-01-02  266.75       NaN  265.709524
15570 2002-01-03  273.30       NaN  266.432426
15571 2002-01-04  270.70       NaN  266.838862
15572 2002-01-07  267.75       NaN  266.925637
...          ...     ...       ...         ...
16344 2002-01-25  124.05  200.2250  324.438349
16345 2002-01-28  125.40  124.2225  305.482316
16346 2002-01-29  123.70  124.9775  288.169714
16347 2002-01-30  120.70  125.6425  272.220218
16348 2002-01-31  123.15  125.8925  258.023054

[781 rows x 4 columns]

Year: 2002, Month: 2
            Date   Close       SMA         EMA
16349 2002-02-01  272.70       NaN  272.700000
16350 2002-02-04  272.40       NaN  272.671429
16351 2002-02-05  270.70       NaN  272.483673
16352 2002-02-06  279.45       NaN  273.147133
16353 2002-02-07  272.00       NaN  273.037882
...          ...     ...       ...         ...
17033 2002-02-22  152.35  443.2975  405.831723
17034 2002-02-25  159.00  368.9225  382.323940
17035 2002-02-26  159.05  293.7400  361.059755
17036 2002-02-27  152.95  217.7775  341.239778
17037 2002-02-28  142.90  145.6225  322.350276

[689 rows x 4 columns]

Year: 2002, Month: 3
            Date   Close       SMA         EMA
17038 2002-03-01  300.40       NaN  300.400000
17039 2002-03-04  305.70       NaN  300.904762
17040 2002-03-05  311.10       NaN  301.875737
17041 2002-03-06  313.15       NaN  302.949476
17042 2002-03-07  310.00       NaN  303.620955
...          ...     ...       ...         ...
17698 2002-03-21  165.40  542.3550  454.878784
17699 2002-03-22  159.55  465.1250  426.752233
17700 2002-03-26  158.70  388.1775  401.223449
17701 2002-03-27  161.15  313.3225  378.359311
17702 2002-03-28  167.50  237.9900  358.277472

[665 rows x 4 columns]

Year: 2002, Month: 4
            Date   Close       SMA         EMA
17703 2002-04-01  331.00       NaN  331.000000
17704 2002-04-02  326.30       NaN  330.552381
17705 2002-04-03  315.95       NaN  329.161678
17706 2002-04-04  315.70       NaN  327.879613
17707 2002-04-05  314.20       NaN  326.576793
...          ...     ...       ...         ...
18468 2002-04-24  185.75  304.7925  386.174106
18469 2002-04-25  179.25  237.7750  366.467049
18470 2002-04-26  176.85  169.5900  348.408282
18471 2002-04-29  174.70  170.0125  331.864636
18472 2002-04-30  167.15  170.2425  316.177528

[770 rows x 4 columns]

Year: 2002, Month: 5
            Date   Close       SMA         EMA
18473 2002-05-02  328.25       NaN  328.250000
18474 2002-05-03  321.90       NaN  327.645238
18475 2002-05-06  318.85       NaN  326.807596
18476 2002-05-07  316.65       NaN  325.840206
18477 2002-05-08  315.40       NaN  324.845901
...          ...     ...       ...         ...
19238 2002-05-27  130.95  285.5075  346.016033
19239 2002-05-28  127.75  215.4400  325.228792
19240 2002-05-29  137.35  146.2625  307.335574
19241 2002-05-30  133.80  144.6575  290.808376
19242 2002-05-31  132.85  142.9000  275.764721

[770 rows x 4 columns]

Year: 2002, Month: 6
            Date   Close       SMA         EMA
19243 2002-06-03  299.55       NaN  299.550000
19244 2002-06-04  302.10       NaN  299.792857
19245 2002-06-05  310.05       NaN  300.769728
19246 2002-06-06  313.65       NaN  301.996420
19247 2002-06-07  313.10       NaN  303.053904
...          ...     ...       ...         ...
19938 2002-06-24  128.05  405.8225  375.173619
19939 2002-06-25  128.45  336.4850  351.676131
19940 2002-06-26  123.25  268.4150  329.921262
19941 2002-06-27  124.85  201.5550  310.390665
19942 2002-06-28  126.90  133.8675  292.915364

[700 rows x 4 columns]

Year: 2002, Month: 7
            Date   Close       SMA         EMA
19943 2002-07-01  334.30       NaN  334.300000
19944 2002-07-02  337.80       NaN  334.633333
19945 2002-07-03  341.00       NaN  335.239683
19946 2002-07-04  344.50       NaN  336.121618
19947 2002-07-05  360.85       NaN  338.476702
...          ...     ...       ...         ...
20743 2002-07-25  109.75  171.8925  268.689820
20744 2002-07-26  103.65  120.2825  252.971742
20745 2002-07-29  100.40  118.9375  238.441100
20746 2002-07-30  101.00  117.5675  225.351471
20747 2002-07-31  104.20  116.3000  213.813236

[805 rows x 4 columns]

Year: 2002, Month: 8
            Date   Close       SMA         EMA
20748 2002-08-01  325.45       NaN  325.450000
20749 2002-08-02  325.25       NaN  325.430952
20750 2002-08-05  330.25       NaN  325.889909
20751 2002-08-06  330.05       NaN  326.286108
20752 2002-08-07  333.80       NaN  327.001717
...          ...     ...       ...         ...
21478 2002-08-26  107.10  270.2975  278.927777
21479 2002-08-27  104.10  216.5725  262.277513
21480 2002-08-28  103.75  162.0225  247.179654
21481 2002-08-29  103.55  103.8150  233.500640
21482 2002-08-30  110.45  104.1600  221.781531

[735 rows x 4 columns]

Year: 2002, Month: 9
            Date   Close       SMA         EMA
21483 2002-09-02  340.40       NaN  340.400000
21484 2002-09-03  343.70       NaN  340.714286
21485 2002-09-04  341.50       NaN  340.789116
21486 2002-09-05  350.35       NaN  341.699676
21487 2002-09-06  351.60       NaN  342.642564
...          ...     ...       ...         ...
22177 2002-09-24   85.65  347.5700  309.212229
22178 2002-09-25   89.15  285.3525  288.253921
22179 2002-09-26   89.85  222.5550  269.358310

             Date   Close       SMA         EMA
152529 2014-07-01  244.20       NaN  244.200000
152530 2014-07-02  271.25       NaN  246.776190
152531 2014-07-03  270.40       NaN  249.026077
152532 2014-07-04  275.55       NaN  251.552165
152533 2014-07-07  280.70       NaN  254.328149
...           ...     ...       ...         ...
153602 2014-07-24  299.55  321.5850  335.142192
153603 2014-07-25  289.10  308.5025  330.757221
153604 2014-07-28  287.45  295.6550  326.632724
153605 2014-07-30  295.15  295.4375  323.634369
153606 2014-07-31  290.70  295.0750  320.497763

[1078 rows x 4 columns]

Year: 2014, Month: 8
             Date   Close       SMA         EMA
153607 2014-08-01  259.25       NaN  259.250000
153608 2014-08-04  265.45       NaN  259.840476
153609 2014-08-05  265.80       NaN  260.408050
153610 2014-08-06  268.50       NaN  261.178712
153611 2014-08-07  266.15       NaN  261.652168
...           ...     ...       ...         ...
154533 2014-08-22  289.10  349.8875  334.774649
154534 2014-08-25  284.25  336.2525  329.962778
154535 2014-08-26  283.00  322.6350  325.490132
154536 2014-08-27  277.50  308.9650  320.919643
154537 2014-08-28  273.70  294.7225  316.422534

[931 rows x 4 columns]

Year: 2014, Month: 9
             Date   Close       SMA         EMA
154538 2014-09-01  286.50       NaN  286.500000
154539 2014-09-02  288.85       NaN  286.723810
154540 2014-09-03  289.10       NaN  286.950113
154541 2014-09-04  289.30       NaN  287.173912
154542 2014-09-05  290.15       NaN  287.457349
...           ...     ...       ...         ...
155611 2014-09-24  300.05  320.9525  337.316888
155612 2014-09-25  306.10  306.6150  334.343851
155613 2014-09-26  302.40  291.8950  331.301580
155614 2014-09-29  303.40  292.8400  328.644286
155615 2014-09-30  314.15  294.3925  327.263878

[1078 rows x 4 columns]

Year: 2014, Month: 10
             Date   Close       SMA         EMA
155616 2014-10-01  275.15       NaN  275.150000
155617 2014-10-07  259.90       NaN  273.697619
155618 2014-10-08  261.15       NaN  272.502608
155619 2014-10-09  269.80       NaN  272.245216
155620 2014-10-10  258.90       NaN  270.974243
...           ...     ...       ...         ...
156493 2014-10-27  330.35  393.2250  375.361717
156494 2014-10-28  335.00  381.9625  371.517744
156495 2014-10-29  339.50  371.1975  368.468435
156496 2014-10-30  347.35  360.8800  366.457155
156497 2014-10-31  344.25  350.2525  364.342188

[882 rows x 4 columns]

Year: 2014, Month: 11
             Date   Close       SMA         EMA
156498 2014-11-03  291.50       NaN  291.500000
156499 2014-11-05  288.75       NaN  291.238095
156500 2014-11-07  292.90       NaN  291.396372
156501 2014-11-10  290.70       NaN  291.330051
156502 2014-11-11  291.50       NaN  291.346236
...           ...     ...       ...         ...
157375 2014-11-24  385.35  435.4350  413.927581
157376 2014-11-25  393.85  426.5225  412.015430
157377 2014-11-26  375.90  416.3500  408.575866
157378 2014-11-27  372.20  405.8825  405.111497
157379 2014-11-28  381.95  395.9900  402.905641

[882 rows x 4 columns]

Year: 2014, Month: 12
             Date   Close       SMA         EMA
157380 2014-12-01  289.00       NaN  289.000000
157381 2014-12-02  286.15       NaN  288.728571
157382 2014-12-03  291.25       NaN  288.968707
157383 2014-12-04  286.20       NaN  288.705021
157384 2014-12-05  284.55       NaN  288.309305
...           ...     ...       ...         ...
158453 2014-12-24  380.55  391.7000  398.235465
158454 2014-12-26  376.90  382.9175  396.203516
158455 2014-12-29  379.50  374.1325  394.612705
158456 2014-12-30  378.60  374.1975  393.087685
158457 2014-12-31  380.75  374.1450  391.912667

[1078 rows x 4 columns]

Year: 2015, Month: 1
             Date   Close       SMA         EMA
158458 2015-01-01  319.55       NaN  319.550000
158459 2015-01-02  319.35       NaN  319.530952
158460 2015-01-05  323.80       NaN  319.937528
158461 2015-01-06  321.85       NaN  320.119669
158462 2015-01-07  321.10       NaN  320.213033
...           ...     ...       ...         ...
159482 2015-01-23  390.75  409.4075  408.382474
159483 2015-01-27  389.95  398.5425  406.627001
159484 2015-01-28  387.30  387.7725  404.786334
159485 2015-01-29  386.05  376.7475  403.001921
159486 2015-01-30  376.75  376.7000  400.501738

[1029 rows x 4 columns]

Year: 2015, Month: 2
             Date   Close       SMA         EMA
159487 2015-02-02  335.90       NaN  335.900000
159488 2015-02-03  327.80       NaN  335.128571
159489 2015-02-04  321.25       NaN  333.806803
159490 2015-02-05  312.20       NaN  331.749012
159491 2015-02-06  300.20       NaN  328.744344
...           ...     ...       ...         ...
160462 2015-02-24  353.00  418.3075  405.965976
160463 2015-02-25  348.55  402.5450  400.497788
160464 2015-02-26  343.10  386.8050  395.031332
160465 2015-02-27  348.95  371.5375  390.642634
160466 2015-02-28  346.45  355.9000  386.433811

[980 rows x 4 columns]

Year: 2015, Month: 3
             Date   Close       SMA         EMA
160467 2015-03-02  330.35       NaN  330.350000
160468 2015-03-03  336.55       NaN  330.940476
160469 2015-03-04  332.00       NaN  331.041383
160470 2015-03-05  333.05       NaN  331.232680
160471 2015-03-09  325.00       NaN  330.639091
...           ...     ...       ...         ...
161491 2015-03-25  349.05  390.3300  395.606091
161492 2015-03-26  339.30  376.6875  390.243606
161493 2015-03-27  337.50  362.3925  385.220405
161494 2015-03-30  342.35  348.0675  381.137510
161495 2015-03-31  341.75  348.0175  377.386318

[1029 rows x 4 columns]

Year: 2015, Month: 4
             Date   Close       SMA         EMA
161496 2015-04-01  310.95       NaN  310.950000
161497 2015-04-06  321.25       NaN  311.930952
161498 2015-04-07  323.90       NaN  313.070862
161499 2015-04-08  319.15       NaN  313.649827
161500 2015-04-09  316.70       NaN  313.940320
...           ...     ...       ...         ...
162422 2015-04-24  320.80  386.1450  375.621238
162423 2015-04-27  324.25  376.1975  370.728740
162424 2015-04-28  320.80  365.5475  365.973621
162425 2015-04-29  320.75  354.9725  361.666610
162426 2015-04-30  312.05  343.4925  356.941218

[931 rows x 4 columns]

Year: 2015, Month: 5
             Date   Close       SMA         EMA
162427 2015-05-04  347.20       NaN  347.200000
162428 2015-05-05  342.70       NaN  346.771429
162429 2015-05-06  331.20       NaN  345.288435
162430 2015-05-07  322.80       NaN  343.146680
162431 2015-05-08  335.10       NaN  342.380329
...           ...     ...       ...         ...
163402 2015-05-25  320.05  361.7000  354.748870
163403 2015-05-26  319.30  349.7525  351.372787
163404 2015-05-27  320.00  338.1350  348.384902
163405 2015-05-28  318.15  326.3150  345.505388
163406 2015-05-29  323.75  314.4175  343.433446

[980 rows x 4 columns]

Year: 2015, Month: 6
             Date   Close       SMA         EMA
163407 2015-06-01  311.55       NaN  311.550000
163408 2015-06-02  309.15       NaN  311.321429
163409 2015-06-03  297.25       NaN  309.981293
163410 2015-06-04  311.20       NaN  310.097360
163411 2015-06-05  311.30       NaN  310.211897
...           ...     ...       ...         ...
164480 2015-06-24  355.20  358.0625  370.434441
164481 2015-06-25  358.55  348.3700  369.302590
164482 2015-06-26  359.25  338.9975  368.345200
164483 2015-06-29  356.15  340.7925  367.183753
164484 2015-06-30  367.90  342.8150  367.251967

[1078 rows x 4 columns]

Year: 2015, Month: 7
             Date   Close       SMA         EMA
164485 2015-07-01  311.30       NaN  311.300000
164486 2015-07-02  316.05       NaN  311.752381
164487 2015-07-03  320.80       NaN  312.614059
164488 2015-07-06  320.10       NaN  313.327006
164489 2015-07-07  333.05       NaN  315.205386
...           ...     ...       ...         ...
165607 2015-07-27  393.00  385.9600  404.325209
165608 2015-07-28  392.10  377.0725  403.160903
165609 2015-07-29  400.50  378.9075  402.907484
165610 2015-07-30  399.70  380.4375  402.602009
165611 2015-07-31  398.80  381.9075  402.239913

[1127 rows x 4 columns]

Year: 2015, Month: 8
             Date   Close      SMA         EMA
165612 2015-08-03  330.70      NaN  330.700000
165613 2015-08-04  339.15      NaN  331.504762
165614 2015-08-05  339.85      NaN  332.299546
165615 2015-08-06  346.75      NaN  333.675780
165616 2015-08-07  339.55      NaN  334.235230
...           ...     ...      ...         ...
166636 2015-08-25  365.45  424.915  417.122789
166637 2015-08-26  368.85  415.790  412.525381
166638 2015-08-27  371.00  406.160  408.570583
166639 2015-08-28  387.80  396.960  406.592432
166640 2015-08-31  384.80  396.265  404.516962

[1029 rows x 4 columns]

Year: 2015, Month: 9
             Date   Close       SMA         EMA
166641 2015-09-01  342.25       NaN  342.250000
166642 2015-09-02  334.55       NaN  341.516667
166643 2015-09-03  339.40       NaN  341.315079
166644 2015-09-04  339.35       NaN  341.127929
166645 2015-09-07  322.65       NaN  339.368126
...           ...     ...       ...         ...
167616 2015-09-23  387.35  425.2625  416.067660
167617 2015-09-24  394.55  414.8375  414.018359
167618 2015-09-28  383.65  404.3725  411.126134
167619 2015-09-29  391.10  394.5125  409.218883
167620 2015-09-30  392.45  384.2425  407.621847

[980 rows x 4 columns]

Year: 2015, Month: 10
             Date   Close      SMA         EMA
167621 2015-10-01  305.05      NaN  305.050000
167622 2015-10-05  317.85      NaN  306.269048
167623 2015-10-06  315.80      NaN  307.176757
167624 2015-10-07  314.55      NaN  307.878971
167625 2015-10-08  320.75      NaN  309.104783
...           ...     ...      ...         ...
168596 2015-10-26  424.95  444.490  439.368274
168597 2015-10-27  424.80  436.975  437.980820
168598 2015-10-28  420.80  429.115  436.344551
168599 2015-10-29  415.70  421.170  434.378403
168600 2015-10-30  408.65  412.960  431.928079

[980 rows x 4 columns]

Year: 2015, Month: 11
             Date   Close       SMA         EMA
168601 2015-11-02  295.55       NaN  295.550000
168602 2015-11-03  291.20       NaN  295.135714
168603 2015-11-04  289.45       NaN  294.594218
168604 2015-11-05  284.10       NaN  293.594768
168605 2015-11-06  285.05       NaN  292.780981
...           ...     ...       ...         ...
169527 2015-11-23  407.25  438.7150  418.713608
169528 2015-11-24  401.60  430.2900  417.083741
169529 2015-11-26  409.00  422.5475  416.313861
169530 2015-11-27  412.40  414.6925  415.941112
169531 2015-11-30  408.15  406.6025  415.199102

[931 rows x 4 columns]

Year: 2015, Month: 12
             Date   Close       SMA         EMA
169532 2015-12-01  263.25       NaN  263.250000
169533 2015-12-02  261.40       NaN  263.073810
169534 2015-12-03  258.85       NaN  262.671542
169535 2015-12-04  255.55       NaN  261.993300
169536 2015-12-07  255.10       NaN  261.336795
...           ...     ...       ...         ...
170605 2015-12-24  410.75  423.1000  427.475044
170606 2015-12-28  411.55  415.7725  425.958373
170607 2015-12-29  416.35  408.5950  425.043290
170608 2015-12-30  428.20  409.2825  425.343929
170609 2015-12-31  437.25  410.4600  426.477841

[1078 rows x 4 columns]

Year: 2016, Month: 1
             Date   Close       SMA         EMA
170610 2016-01-01  267.55       NaN  267.550000
170611 2016-01-04  257.95       NaN  266.635714
170612 2016-01-05  255.70       NaN  265.594218
170613 2016-01-06  251.80       NaN  264.280483
170614 2016-01-07  245.00       NaN  262.444246
...           ...     ...       ...         ...
171585 2016-01-22  395.40  437.1350  421.454684
171586 2016-01-25  391.25  429.3450  418.578047
171587 2016-01-27  396.70  421.5525  416.494424
171588 2016-01-28  404.60  414.4200  415.361621
171589 2016-01-29  420.05  407.2825  415.808134

[980 rows x 4 columns]

Year: 2016, Month: 2
             Date   Close       SMA         EMA
171590 2016-02-01  221.10       NaN  221.100000
171591 2016-02-02  213.25       NaN  220.352381
171592 2016-02-03  210.20       NaN  219.385488
171593 2016-02-04  215.70       NaN  219.034489
171594 2016-02-05  211.10       NaN  218.278823
...           ...     ...       ...         ...
172614 2016-02-23  387.10  409.4300  403.452536
172615 2016-02-24  388.00  402.1375  401.980866
172616 2016-02-25  379.50  394.5875  399.839831
172617 2016-02-26  381.10  387.6300  398.055085
172618 2016-02-29  372.35  385.4225  395.606982

[1029 rows x 4 columns]

Year: 2016, Month: 3
             Date   Close       SMA         EMA
172619 2016-03-01  206.90       NaN  206.900000
172620 2016-03-02  218.80       NaN  208.033333
172621 2016-03-03  227.50       NaN  209.887302
172622 2016-03-04  225.15       NaN  211.340892
172623 2016-03-08  228.25       NaN  212.951283
...           ...     ...       ...         ...
173594 2016-03-23  388.50  425.5850  413.209917
173595 2016-03-28  387.65  417.1600  410.775639
173596 2016-03-29  381.90  408.5975  408.025578
173597 2016-03-30  376.55  399.3275  405.027904
173598 2016-03-31  386.95  390.4625  403.306199

[980 rows x 4 columns]

Year: 2016, Month: 4
             Date   Close       SMA         EMA
173599 2016-04-01  242.90       NaN  242.900000
173600 2016-04-04  242.55       NaN  242.866667
173601 2016-04-05  226.25       NaN  241.284127
173602 2016-04-06  224.35       NaN  239.671353
173603 2016-04-07  216.80       NaN  237.493129
...           ...     ...       ...         ...
174476 2016-04-25  400.70  443.5275  424.684406
174477 2016-04-26  413.50  436.3050  423.619225
174478 2016-04-27  407.85  429.0750  422.117394
174479 2016-04-28  405.00  421.6025  420.487166
174480 2016-04-29  414.90  414.3475  419.955055

[882 rows x 4 columns]

Year: 2016, Month: 5
             Date   Close       SMA         EMA
174481 2016-05-02  232.95       NaN  232.950000
174482 2016-05-03  235.50       NaN  233.192857
174483 2016-05-04  208.25       NaN  230.817347
174484 2016-05-05  198.00       NaN  227.691885
174485 2016-05-06  194.55       NaN  224.535515
...           ...     ...       ...         ...
175554 2016-05-25  442.60  442.0200  446.377303
175555 2016-05-26  444.45  436.7350  446.193751
175556 2016-05-27  453.40  432.1325  446.880060
175557 2016-05-30  443.90  433.5075  446.596245
175558 2016-05-31  443.35  434.6875  446.287079

[1078 rows x 4 columns]

Year: 2016, Month: 6
             Date   Close       SMA         EMA
175559 2016-06-01  202.30       NaN  202.300000
175560 2016-06-02  205.20       NaN  202.576190
175561 2016-06-03  204.55       NaN  202.764172
175562 2016-06-06  203.70       NaN  202.853299
175563 2016-06-07  206.50       NaN  203.200604
...           ...     ...       ...         ...
176632 2016-06-24  448.40  464.5300  462.576928
176633 2016-06-27  439.80  458.7925  460.407696
176634 2016-06-28  436.90  452.7400  458.168868
176635 2016-06-29  444.95  452.4975  456.909928
176636 2016-06-30  456.50  452.4900  456.870888

[1078 rows x 4 columns]

Year: 2016, Month: 7
             Date   Close       SMA         EMA
176637 2016-07-01  204.30       NaN  204.300000
176638 2016-07-04  213.25       NaN  205.152381
176639 2016-07-05  214.55       NaN  206.047392
176640 2016-07-07  210.05       NaN  206.428593
176641 2016-07-08  207.05       NaN  206.487775
...           ...     ...       ...         ...
177612 2016-07-25  474.75  477.8800  472.247304
177613 2016-07-26  474.55  474.3025  472.466609
177614 2016-07-27  487.85  471.2375  473.931694
177615 2016-07-28  484.85  467.7900  474.971532
177616 2016-07-29  497.30  465.4025  477.098053

[980 rows x 4 columns]

Year: 2016, Month: 8
             Date   Close       SMA         EMA
177617 2016-08-01  228.55       NaN  228.550000
177618 2016-08-02  224.65       NaN  228.178571
177619 2016-08-03  222.85       NaN  227.671088
177620 2016-08-04  227.90       NaN  227.692890
177621 2016-08-05  234.00       NaN  228.293567
...           ...     ...       ...         ...
178690 2016-08-25  510.80  503.0950  503.471025
178691 2016-08-26  506.00  503.9225  503.711880
178692 2016-08-29  530.10  505.8450  506.225034
178693 2016-08-30  529.20  507.0650  508.413126
178694 2016-08-31  539.50  509.0650  511.373781

[1078 rows x 4 columns]

Year: 2016, Month: 9
             Date   Close       SMA         EMA
178695 2016-09-01  258.70       NaN  258.700000
178696 2016-09-02  268.20       NaN  259.604762
178697 2016-09-06  270.60       NaN  260.651927
178698 2016-09-07  272.25       NaN  261.756506
178699 2016-09-08  275.60       NaN  263.074934
...           ...     ...       ...         ...
179670 2016-09-26  530.65  518.7825  512.533184
179671 2016-09-27  532.40  521.1925  514.425262
179672 2016-09-28  548.00  524.4075  517.622856
179673 2016-09-29  549.70  528.2825  520.677822
179674 2016-09-30  546.75  531.6725  523.160887

[980 rows x 4 columns]

Year: 2016, Month: 10
             Date   Close       SMA         EMA
179675 2016-10-03  264.50       NaN  264.500000
179676 2016-10-04  268.70       NaN  264.900000
179677 2016-10-05  265.45       NaN  264.952381
179678 2016-10-06  264.90       NaN  264.947392
179679 2016-10-07  266.85       NaN  265.128593
...           ...     ...       ...         ...
180601 2016-10-25  513.95  520.7725  512.825332
180602 2016-10-26  516.70  522.5375  513.194348
180603 2016-10-27  504.35  524.1775  512.352029
180604 2016-10-28  520.35  527.1100  513.113741
180605 2016-10-30  518.45  529.9275  513.621956

[931 rows x 4 columns]

Year: 2016, Month: 11
             Date   Close       SMA         EMA
180606 2016-11-01  305.15       NaN  305.150000
180607 2016-11-02  299.90       NaN  304.650000
180608 2016-11-03  288.20       NaN  303.083333
180609 2016-11-04  287.70       NaN  301.618254
180610 2016-11-07  293.50       NaN  300.845087
...           ...     ...       ...         ...
181630 2016-11-24  439.10  476.5775  461.355060
181631 2016-11-25  439.50  475.5225  459.273626
181632 2016-11-28  457.70  475.1500  459.123757
181633 2016-11-29  457.40  474.7575  458.959589
181634 2016-11-30  455.65  472.0725  458.644390

[1029 rows x 4 columns]

Year: 2016, Month: 12
             Date   Close       SMA         EMA
181635 2016-12-01  275.10       NaN  275.100000
181636 2016-12-02  265.90       NaN  274.223810
181637 2016-12-05  268.70       NaN  273.697732
181638 2016-12-06  271.90       NaN  273.526520
181639 2016-12-07  277.40       NaN  273.895423
...           ...     ...       ...         ...
182708 2016-12-26  431.80  447.7450  443.522919
182709 2016-12-27  436.30  445.9425  442.835022
182710 2016-12-28  443.10  444.3750  442.860258
182711 2016-12-29  447.60  443.8750  443.311662
182712 2016-12-30  453.05  444.3725  444.239122

[1078 rows x 4 columns]

Year: 2017, Month: 1
             Date   Close       SMA         EMA
182713 2017-01-02  273.80       NaN  273.800000
182714 2017-01-03  273.95       NaN  273.814286
182715 2017-01-04  274.90       NaN  273.917687
182716 2017-01-05  287.50       NaN  275.211241
182717 2017-01-06  286.05       NaN  276.243503
...           ...     ...       ...         ...
183737 2017-01-24  479.40  470.3500  471.667320
183738 2017-01-25  498.20  471.9825  474.194242
183739 2017-01-27  496.75  473.5325  476.342409
183740 2017-01-30  496.35  475.4500  478.247894
183741 2017-01-31  489.15  477.3275  479.286190

[1029 rows x 4 columns]

Year: 2017, Month: 2
             Date   Close       SMA         EMA
183742 2017-02-01  304.60       NaN  304.600000
183743 2017-02-02  304.15       NaN  304.557143
183744 2017-02-03  303.55       NaN  304.461224
183745 2017-02-06  309.20       NaN  304.912536
183746 2017-02-07  303.65       NaN  304.792295
...           ...     ...       ...         ...
184668 2017-02-21  523.25  506.5650  505.358387
184669 2017-02-22  516.15  508.5825  506.386160
184670 2017-02-23  518.55  510.7850  507.544621
184671 2017-02-27  503.80  511.6700  507.187990
184672 2017-02-28  509.45  512.6550  507.403420

[931 rows x 4 columns]

Year: 2017, Month: 3
             Date   Close       SMA         EMA

# Market crash prediction using SMA/EMA

In [44]:
# Sudden drops in SMA and EMA indicate bearish market sentiment and potential downward pressure on prices
def detect_sudden_drop(df):
    # Calculate the difference between consecutive SMA and EMA values
    df['SMA_Diff'] = df['SMA'].diff()
    df['EMA_Diff'] = df['EMA'].diff()
    
    # Identify sudden drops where both SMA and EMA have negative differences
    sudden_drop = int((df['SMA_Diff'].iloc[-1] < 0) and (df['EMA_Diff'].iloc[-1] < 0))
    return pd.Series({'Sudden_Drop': sudden_drop})

# Group by year and month and apply the function
monthly_data = annual_averages.groupby([annual_averages['Date'].dt.year, annual_averages['Date'].dt.month]).apply(detect_sudden_drop)

# Print the data in the specified format
for index, row in monthly_data.iterrows():
    year, month = index
    sudden_drop = row['Sudden_Drop']
    print(f"{year} {month}: {sudden_drop}")

2000 1: 1
2000 2: 0
2000 3: 1
2000 4: 1
2000 5: 1
2000 6: 1
2000 7: 1
2000 8: 0
2000 9: 1
2000 10: 1
2000 11: 1
2000 12: 1
2001 1: 1
2001 2: 1
2001 3: 1
2001 4: 1
2001 5: 0
2001 6: 0
2001 7: 1
2001 8: 0
2001 9: 1
2001 10: 0
2001 11: 0
2001 12: 1
2002 1: 0
2002 2: 0
2002 3: 0
2002 4: 0
2002 5: 1
2002 6: 1
2002 7: 1
2002 8: 0
2002 9: 1
2002 10: 1
2002 11: 0
2002 12: 1
2003 1: 1
2003 2: 0
2003 3: 1
2003 4: 0
2003 5: 0
2003 6: 0
2003 7: 0
2003 8: 1
2003 9: 0
2003 10: 0
2003 11: 1
2003 12: 0
2004 1: 0
2004 2: 1
2004 3: 0
2004 4: 1
2004 5: 0
2004 6: 1
2004 7: 0
2004 8: 0
2004 9: 0
2004 10: 1
2004 11: 0
2004 12: 0
2005 1: 1
2005 2: 1
2005 3: 0
2005 4: 1
2005 5: 1
2005 6: 0
2005 7: 0
2005 8: 0
2005 9: 1
2005 10: 1
2005 11: 0
2005 12: 1
2006 1: 1
2006 2: 0
2006 3: 0
2006 4: 0
2006 5: 1
2006 6: 0
2006 7: 0
2006 8: 0
2006 9: 0
2006 10: 0
2006 11: 0
2006 12: 1
2007 1: 1
2007 2: 1
2007 3: 0
2007 4: 0
2007 5: 0
2007 6: 0
2007 7: 0
2007 8: 0
2007 9: 0
2007 10: 1
2007 11: 1
2007 12: 0
2008 1: 0
2008 2: 1
2008 3: 0
2008 4: 1
2008 5: 0
2008 6: 1
2008 7: 0
2008 8: 0
2008 9: 1
2008 10: 1
2008 11: 1
2008 12: 0
2009 1: 1
2009 2: 1
2009 3: 0
2009 4: 0
2009 5: 0
2009 6: 0
2009 7: 0
2009 8: 0
2009 9: 0
2009 10: 1
2009 11: 0
2009 12: 1
2010 1: 1
2010 2: 1
2010 3: 0
2010 4: 0
2010 5: 1
2010 6: 0
2010 7: 0
2010 8: 1
2010 9: 0
2010 10: 1
2010 11: 1
2010 12: 1
2011 1: 1
2011 2: 0
2011 3: 0
2011 4: 0
2011 5: 0
2011 6: 1
2011 7: 1
2011 8: 1
2011 9: 0
2011 10: 0
2011 11: 0
2011 12: 1
2012 1: 0
2012 2: 1
2012 3: 1
2012 4: 0
2012 5: 0
2012 6: 0
2012 7: 0
2012 8: 1
2012 9: 0
2012 10: 0
2012 11: 0
2012 12: 0
2013 1: 1
2013 2: 1
2013 3: 1
2013 4: 0
2013 5: 1
2013 6: 0
2013 7: 0
2013 8: 1
2013 9: 1
2013 10: 0
2013 11: 1
2013 12: 0
2014 1: 1
2014 2: 0
2014 3: 0
2014 4: 1
2014 5: 1
2014 6: 0
2014 7: 1
2014 8: 1
2014 9: 0
2014 10: 0
2014 11: 0
2014 12: 0
2015 1: 1
2015 2: 1
2015 3: 1
2015 4: 1
2015 5: 0
2015 6: 0
2015 7: 0
2015 8: 1
2015 9: 0
2015 10: 0
2015 11: 0
2015 12: 0
2016 1: 0
2016 2: 1
2016 3: 0
2016 4: 0
2016 5: 0
2016 6: 0
2016 7: 0
2016 8: 0
2016 9: 0
2016 10: 1
2016 11: 1
2016 12: 0
2017 1: 0
2017 2: 0
2017 3: 0
2017 4: 1
2017 5: 1
2017 6: 1
2017 7: 0
2017 8: 1
2017 9: 1
2017 10: 0
2017 11: 0
2017 12: 0
2018 1: 0
2018 2: 1
2018 3: 0
2018 4: 0
2018 5: 1
2018 6: 1
2018 7: 1
2018 8: 1
2018 9: 1
2018 10: 0
2018 11: 0
2018 12: 0
2019 1: 1
2019 2: 0
2019 3: 0
2019 4: 0
2019 5: 1
2019 6: 1
2019 7: 0
2019 8: 0
2019 9: 1
2019 10: 0
2019 11: 0
2019 12: 0
2020 1: 1
2020 2: 1
2020 3: 1
2020 4: 0
2020 5: 0
2020 6: 1
2020 7: 1
2020 8: 0
2020 9: 0
2020 10: 0
2020 11: 0
2020 12: 0
2021 1: 1
2021 2: 1
2021 3: 1
2021 4: 1

In [47]:
data['Returns'] = (data['Close'] - data['Open']) / data['Open']

In [48]:
window_size = 20 
data['RollingAvg'] = data['Returns'].rolling(window=window_size).mean()

In [49]:
data['InvertedCurve'] = data['Returns'] > data['RollingAvg']

# INVERTED YIELD CURVE

In [51]:
data['Date'] = pd.to_datetime(data['Date'])
inverted_curve_points = data[data['InvertedCurve']]
for year, group in inverted_curve_points.groupby(data['Date'].dt.year):
    print(f'Year {year}:')
    print(group[['Date', 'Open', 'Close', 'RollingAvg']])

Year 2000:
             Date   Open   Close  RollingAvg
3322   2000-01-03  370.0  381.65    0.003647
3323   2000-01-04  380.0  385.55    0.002783
3324   2000-01-05  371.5  383.00    0.003614
3326   2000-01-07  376.0  385.70    0.001146
3333   2000-01-18  410.0  414.05    0.003198
...           ...    ...     ...         ...
230127 2000-12-18  295.0  301.60    0.001392
230129 2000-12-20  291.0  300.30    0.002268
230133 2000-12-27  260.0  269.05   -0.005869
230134 2000-12-28  274.5  277.85   -0.005539
230135 2000-12-29  277.2  277.80   -0.004714

[3761 rows x 4 columns]
Year 2001:
             Date    Open   Close  RollingAvg
3573   2001-01-02  270.05  273.70    0.007086
3574   2001-01-03  273.05  275.05    0.007006
3580   2001-01-11  261.35  269.00   -0.003490
3582   2001-01-15  249.00  265.15    0.001878
3583   2001-01-16  262.40  263.75   -0.002384
...           ...     ...     ...         ...
230371 2001-12-11  137.00  145.90    0.008020
230379 2001-12-24   98.00  105.30   -0.012570
230381 2001-12-27   98.40   98.05   -0.019204
230382 2001-12-28   98.50  104.80   -0.015971
230383 2001-12-31  105.55  111.60   -0.008908

[3776 rows x 4 columns]
Year 2002:
             Date    Open   Close  RollingAvg
3820   2002-01-01  264.55  265.60   -0.000808
3822   2002-01-03  270.00  273.30    0.000245
3828   2002-01-11  266.50  268.70   -0.002836
3830   2002-01-15  270.00  271.30   -0.003539
3831   2002-01-16  264.25  268.95    0.000996
...           ...     ...     ...         ...
230617 2002-12-05   91.50   96.15    0.004551
230618 2002-12-06   97.20  103.45    0.004937
230628 2002-12-20   99.10   99.25   -0.003414
230630 2002-12-24   97.80   98.35   -0.003294
230634 2002-12-31   96.75   97.55   -0.004496

[4259 rows x 4 columns]
Year 2003:
             Date    Open   Close  RollingAvg
4071   2003-01-01  325.00  325.15    0.000283
4072   2003-01-02  325.00  327.05    0.000354
4075   2003-01-07  329.00  330.95    0.001640
4078   2003-01-10  330.95  331.65    0.000599
4080   2003-01-14  333.95  335.90   -0.004803
...           ...     ...     ...         ...
230878 2003-12-16  143.20  144.10   -0.002704
230880 2003-12-18  143.00  147.40   -0.000016
230881 2003-12-19  148.50  155.00    0.005186
230883 2003-12-23  153.70  158.40    0.006234
230885 2003-12-26  153.90  154.95    0.002304

[4330 rows x 4 columns]
Year 2004:
             Date    Open   Close  RollingAvg
4325   2004-01-01  331.00  336.15   -0.000689
4327   2004-01-05  338.95  340.45   -0.001736
4330   2004-01-08  326.50  336.70   -0.002721
4332   2004-01-12  340.00  340.05   -0.004685
4333   2004-01-13  342.00  341.45   -0.004720
...           ...     ...     ...         ...
231130 2004-12-15  162.00  177.60    0.002621
231132 2004-12-17  172.70  173.95    0.000845
231133 2004-12-20  174.00  179.85    0.002891
231137 2004-12-24  173.00  173.25    0.000430
231139 2004-12-28  171.70  172.75    0.001253

[4728 rows x 4 columns]
Year 2005:
             Date    Open   Close  RollingAvg
4580   2005-01-04  322.00  324.05   -0.002447
4583   2005-01-07  310.00  320.05   -0.003193
4584   2005-01-10  323.00  321.80   -0.004145
4585   2005-01-11  318.10  320.30   -0.003547
4587   2005-01-13  307.00  316.65   -0.002328
...           ...     ...     ...         ...
231384 2005-12-19  162.55  163.75   -0.003299
231386 2005-12-21  163.70  164.95   -0.001748
231390 2005-12-27  151.55  152.95   -0.005872
231392 2005-12-29  151.90  153.15   -0.009138
231393 2005-12-30  153.50  156.80   -0.005389

[5063 rows x 4 columns]
Year 2006:
             Date    Open   Close  RollingAvg
4830   2006-01-02  583.90  589.95    0.002445
4838   2006-01-13  588.00  586.80   -0.003642
4839   2006-01-16  587.00  586.00   -0.004339
4841   2006-01-18  575.00  586.60   -0.005655
4842   2006-01-19  588.50  592.00   -0.004737
...           ...     ...     ...         ...
231636 2006-12-19  273.75  272.90   -0.004501
231639 2006-12-22  264.75  276.65   -0.006668
231640 2006-12-26  278.45  290.95   -0.003241
231642 2006-12-28  284.90  292.60   -0.004285
231643 2006-12-29  293.50  293.55   -0.005176

[5011 rows x 4 columns]
Year 2007:
             Date    Open    Close  RollingAvg
19     2007-12-26  1175.0  1199.90    0.012662
21     2007-12-28  1189.4  1249.10    0.007086
5082   2007-01-04   733.0   749.35    0.000305
5089   2007-01-15   740.0   780.00   -0.001747
5090   2007-01-16   789.9   788.30   -0.002074
...           ...     ...      ...         ...
231886 2007-12-19   304.0   304.90   -0.006942
231888 2007-12-24   302.0   306.95   -0.005710
231889 2007-12-26   310.0   321.15   -0.003962
231891 2007-12-28   305.0   313.90   -0.002551
231892 2007-12-31   320.0   327.05    0.000718

[5150 rows x 4 columns]
Year 2008:
             Date     Open    Close  RollingAvg
23     2008-01-01  1279.00  1296.85    0.007591
33     2008-01-15  1045.60  1049.55   -0.009804
38     2008-01-22   700.00   735.55   -0.016575
39     2008-01-23   760.00   857.00   -0.011253
41     2008-01-25   820.00   865.70   -0.014315
...           ...      ...      ...         ...
232128 2008-12-16   132.25   139.40    0.014365
232130 2008-12-18   134.50   138.35    0.014582
232132 2008-12-22   135.20   139.50    0.013390
232135 2008-12-26   135.20   138.25    0.009026
232137 2008-12-30   138.55   141.55    0.013923

[5424 rows x 4 columns]
Year 2009:
             Date   Open   Close  RollingAvg
269    2009-01-01  328.0  333.80    0.004522
271    2009-01-05  335.3  390.40    0.010136
275    2009-01-12  343.0  369.85    0.006635
277    2009-01-14  365.0  384.75    0.005886
281    2009-01-20  360.0  375.05    0.002494
...           ...    ...     ...         ...
232370 2009-12-14  259.1  262.80   -0.000835
232373 2009-12-17  248.6  260.35   -0.000268
232375 2009-12-21  251.0  261.80   -0.001204
232376 2009-12-22  263.5  267.05   -0.000106
232379 2009-12-29  266.1  265.65   -0.001823

[5575 rows x 4 columns]
Year 2010:
             Date    Open   Close  RollingAvg
512    2010-01-04  555.00  556.75   -0.001685
513    2010-01-05  559.80  575.95   -0.000212
514    2010-01-06  579.00  604.50    0.002371
517    2010-01-11  603.00  616.95    0.003239
518    2010-01-12  622.00  626.20    0.003295
...           ...     ...     ...         ...
232621 2010-12-14  144.70  147.75   -0.001848
232622 2010-12-15  147.75  149.25    0.000326
232631 2010-12-29  140.40  142.95   -0.006347
232632 2010-12-30  142.50  144.60   -0.005887
232633 2010-12-31  142.00  147.25   -0.005042

[5833 rows x 4 columns]
Year 2011:
             Date    Open   Close  RollingAvg
764    2011-01-03  145.55  145.05   -0.005105
765    2011-01-04  146.95  148.55   -0.003922
766    2011-01-05  150.10  157.60   -0.000614
771    2011-01-12  140.40  139.75   -0.008235
772    2011-01-13  140.60  141.40   -0.006911
...           ...     ...     ...         ...
232867 2011-12-13  119.05  122.00    0.003475
232872 2011-12-20  117.70  118.10    0.002081
232874 2011-12-22  115.50  118.40    0.003603
232879 2011-12-29  116.90  117.85   -0.000871
232880 2011-12-30  117.20  117.85   -0.000514

[5772 rows x 4 columns]
Year 2012:
             Date    Open   Close  RollingAvg
1012   2012-01-03  117.50  120.30   -0.005488
1013   2012-01-04  121.00  122.85   -0.005649
1014   2012-01-05  122.00  126.70   -0.003015
1015   2012-01-06  126.25  127.70   -0.002421
1017   2012-01-09  128.70  132.20   -0.001714
...           ...     ...     ...         ...
233122 2012-12-17  206.75  210.35    0.000933
233123 2012-12-18  211.10  222.00    0.004240
233125 2012-12-20  219.25  222.25    0.004831
233126 2012-12-21  221.05  222.40    0.004542
233127 2012-12-24  223.85  229.85    0.003925

[6035 rows x 4 columns]
Year 2013:
             Date    Open   Close  RollingAvg
1262   2013-01-01  136.25  137.80   -0.000692
1266   2013-01-07  137.00  140.05   -0.001900
1269   2013-01-10  136.10  135.80   -0.002845
1271   2013-01-14  131.70  136.30   -0.002813
1272   2013-01-15  135.10  136.90   -0.004793
...           ...     ...     ...         ...
233370 2013-12-13  280.00  280.00   -0.002477
233371 2013-12-16  281.40  281.80   -0.002712
233372 2013-12-17  281.85  285.40   -0.001752
233377 2013-12-24  278.00  279.35    0.002107
233378 2013-12-26  279.20  281.50    0.002360

[5910 rows x 4 columns]
Year 2014:
             Date    Open   Close  RollingAvg
1512   2014-01-01  154.55  156.30   -0.003662
1515   2014-01-06  150.50  150.85   -0.005369
1517   2014-01-08  147.10  150.75   -0.003329
1518   2014-01-09  149.45  149.55   -0.002373
1521   2014-01-14  143.00  147.05   -0.004198
...           ...     ...     ...         ...
233615 2014-12-16  364.00  368.25   -0.001327
233616 2014-12-17  365.15  369.30   -0.001096
233617 2014-12-18  372.10  376.30    0.001000
233623 2014-12-29  377.00  379.50   -0.000972
233625 2014-12-31  377.90  380.75   -0.000431

[5767 rows x 4 columns]
Year 2015:
             Date    Open   Close  RollingAvg
1758   2015-01-05  320.45  323.80    0.005807
1761   2015-01-08  326.00  334.55    0.007946
1765   2015-01-14  324.00  331.25    0.005595
1767   2015-01-16  329.80  330.85    0.003078
1769   2015-01-20  329.00  330.50    0.003160
...           ...     ...     ...         ...
233868 2015-12-23  416.80  419.05    0.001841
233870 2015-12-28  410.70  411.55   -0.000351
233871 2015-12-29  412.05  416.35    0.000559
233872 2015-12-30  416.95  428.20    0.001353
233873 2015-12-31  429.00  437.25    0.002906

[5911 rows x 4 columns]
Year 2016:
             Date   Open   Close  RollingAvg
2004   2016-01-01  261.0  267.55    0.000092
2011   2016-01-12  234.2  236.60   -0.002954
2013   2016-01-14  227.0  227.80   -0.003288
2015   2016-01-18  211.1  219.30   -0.005061
2016   2016-01-19  222.8  232.85   -0.002624
...           ...    ...     ...         ...
234115 2016-12-23  438.0  442.65   -0.000657
234117 2016-12-27  432.2  436.30   -0.003265
234118 2016-12-28  436.7  443.10   -0.001942
234119 2016-12-29  440.7  447.60   -0.001235
234120 2016-12-30  446.5  453.05    0.000950

[5859 rows x 4 columns]
Year 2017:
             Date    Open   Close  RollingAvg
2251   2017-01-02  269.80  273.80   -0.002544
2253   2017-01-04  275.15  274.90   -0.003332
2254   2017-01-05  276.30  287.50   -0.002592
2257   2017-01-10  285.10  293.90   -0.001333
2261   2017-01-16  294.70  300.65    0.002274
...           ...     ...     ...         ...
234355 2017-12-11  565.00  568.00    0.002439
234360 2017-12-18  571.00  574.35    0.002492
234362 2017-12-20  577.20  580.55    0.000451
234365 2017-12-26  575.00  581.90   -0.001837
234366 2017-12-27  582.00  587.35   -0.002480

[5815 rows x 4 columns]
Year 2018:
             Date    Open   Close  RollingAvg
2501   2018-01-03  398.10  407.65   -0.000278
2502   2018-01-04  408.70  409.85   -0.000053
2503   2018-01-05  411.90  423.80    0.001049
2506   2018-01-10  422.00  423.45   -0.000232
2507   2018-01-11  423.00  425.50    0.001034
...           ...     ...     ...         ...
234607 2018-12-19  461.00  465.15    0.002618
234611 2018-12-26  435.85  455.05    0.000977
234612 2018-12-27  459.45  464.40   -0.000403
234613 2018-12-28  461.25  474.45    0.000845
234614 2018-12-31  475.20  476.45    0.000715

[5880 rows x 4 columns]
Year 2019:
             Date    Open   Close  RollingAvg
2745   2019-01-01  386.30  389.00    0.005801
2748   2019-01-04  378.65  382.15    0.006157
2752   2019-01-10  377.95  380.25    0.000098
2755   2019-01-15  375.00  385.15    0.001097
2756   2019-01-16  385.30  389.30    0.001088
...           ...     ...     ...         ...
234854 2019-12-23  285.00  294.80   -0.009057
234855 2019-12-24  294.30  297.25   -0.005432
234856 2019-12-26  297.70  297.30   -0.006214
234857 2019-12-27  297.30  299.00   -0.005293
234858 2019-12-30  297.85  302.80   -0.000978

[5863 rows x 4 columns]
Year 2020:
             Date    Open   Close  RollingAvg
2990   2020-01-01  368.00  377.65   -0.001022
2991   2020-01-02  377.95  383.15   -0.001212
2992   2020-01-03  382.70  382.50   -0.001293
2994   2020-01-07  384.05  384.80   -0.002320
2995   2020-01-08  379.00  385.65   -0.000506
...           ...     ...     ...         ...
235099 2020-12-14  215.00  215.40   -0.000246
235100 2020-12-15  214.50  232.00    0.004295
235106 2020-12-23  214.25  217.10    0.003048
235108 2020-12-28  219.25  220.15    0.003313
235111 2020-12-31  219.00  223.50    0.002230

[5859 rows x 4 columns]
Year 2021:
             Date   Open   Close  RollingAvg
3242   2021-01-01  485.0  503.85    0.004044
3244   2021-01-05  498.9  499.45    0.000569
3246   2021-01-07  500.1  513.85    0.002836
3249   2021-01-12  507.0  511.25    0.001787
3250   2021-01-13  515.9  536.65    0.003133
...           ...    ...     ...         ...
235183 2021-04-19  187.0  190.35   -0.004343
235184 2021-04-20  193.0  197.40   -0.003373
235188 2021-04-27  188.0  188.15   -0.006685
235189 2021-04-28  188.8  189.10   -0.004203
235191 2021-04-30  185.3  185.60   -0.004576

[1896 rows x 4 columns]